//// --- BUTTONS --- ////////////////////////////
$s3-Buttons: (

  //// 1 //////////// Page Buttons
  e_bttn-homefresh: (
    color: white,
    text-transform: none,
    _arrw: (
      font-family: $Tertiary-Typeface),
    hover: (
      font-size: 40px,
      transition: .25s ease,
      color: white
    ),
    padding-left: 2rem,
    padding-right: 2rem
  )

);
