$s3-States: (

  c_disp-img-strktop: (
    border-style: solid,
    border-color: $ocean,
    border-top-width: 3px
  ),

  c_disp-fp-gridbase: (
    //grid-row: auto,
    grid-template-rows: auto,
    height: 410px
  ),

  c_disp-fp-subgrid: (
    _2: (
      grid-template-columns: 1fr 1fr,
      grid-template-areas: (-qt 'photo-1 photo-2')
    ),
    _3: (
      grid-template-columns: 1fr 1fr 1fr,
      grid-template-areas: (-qt 'photo-1 photo-2 photo-3')
    ),
    _2x2: (
      grid-template-columns: 1fr 1fr,
      grid-template-areas: (-qt 'photo-3 photo-4')
    ),
    _3x2: (
      grid-template-columns: 1fr 1fr,
      grid-template-areas: (-qt 'photo-4 photo-5')
    ),
    _3x3: (
      grid-template-columns: 1fr 1fr 1fr,
      grid-template-areas: (-qt 'photo-4 photo-5 photo-6')
    )
  ),

  c_disp-fp-gridimg: (
    _1: (
      grid-area: photo-1
    ),
    _2: (
      grid-area: photo-2
    ),
    _3: (
      grid-area: photo-3
    ),
    _4: (
      grid-area: photo-4
    ),
    _5: (
      grid-area: photo-5
    ),
    _6: (
      grid-area: photo-6
    )
  ),

  c_disp-hme-projectbar: (
    grid-column: '1 / 2',
    background-color: #232323,
    width: 200px,
    height: 22px,
    display: flex,
    align-items: center,
    justify-content: center,
    max-width: 700px,
    position: relative,
    overflow: hidden,
    border-right: solid #232323 6px,
    border-left: solid #232323 6px,
    margin-bottom: 10px,
    |project: (
      auto: (hz-bar, 10px, left-5, $sky, (ease-in-out 1.5s), $ocean, (ease-in-out .5s))
    )
  ),

  c_disp-hme-inprogressimg: (
    width: 200px,
    height: 150px,
    margin-top: 15px,
    margin-bottom: 15px
  ),

  c_disp-hme-skilldonut: (
    float: left,
    padding: 20px,

    |chartdiv: (
      position: relative,
      border-radius: 50%,
      overflow: hidden,
      after: (
        border: 8px solid #232323
      ),
      auto: (donut, hme-chart, 5, 200px, 25px, 1.5s, $pitch, $night, $sky, 45px),
      |dnt: (
        border-left: 6px solid $pitch,
        border-top: 6px solid $pitch
      )
    ),
    |dnt-center: (
      position: absolute,
      border-radius: 50%,
      box-shadow: 0px 0px 0px 6px #232323,
      font-family: $Secondary-Typeface,
    )
  ),

  c_disp-fp: (
    grid-row: auto,
    height: 320px,
    position: relative,
    overflow: hidden,
    hover: (
      background: grey,
      |c_disp-fp-hvr: (
        opacity: 0.9,
        padding-top: 2em
      ),
      |img: (
        filter: blur(5px),
        transition: .5s ease
      )
    )
  ),

  c_disp-fp-hvr: (
    grid-row: auto,
    opacity: 0,
    background: (-auto, rgba, $ocean-dark, .5, darken),
    --box-shadow-color: (-auto, rgba, $night, .25, lighten),
    box-shadow: (inset 0 0 10px var(--box-shadow-color)),
    width: 100%,
    height: 100%,
    color: white,
    position: absolute,
    top: 0,
    bottom: 0,
    left: 0,
    right: 0,
    transition: .5s ease,
    |child: (
      name: "a h2",
      font-size: 2.4rem
    )
  ),

  m-lightbox__close: (
    top: 40px,
    right: 40px,
    |svg: (
      fill: $sky,
      width: 45px,
      height: 45px
    )
  ),
  c-lightbox-cntrls: (
    font-family: 'kith-bold'
  ),


  m-lightbox: (
    position: fixed,
    top: 0,
    left: 0,
    width: 100vw,
    height: 100vh,
    background: $pitch,
    z-index: 1,
    opacity: 0,
    transition: opacity 0.3s ease-out,
    pointer-events: none,
    |_is-active: (
      opacity: 1,
      z-index: 101,
      pointer-events: auto
    ),
    |button: (
      position: absolute,
      margin: 0,
      padding: 0,
      z-index: 102,
      background: transparent,
      border: none,
      cursor: pointer
    )
  ),

  m-lightbox__slider: (
    list-style: none,
    margin: 0,
    padding: 0,
    width: 100vw,
    height: 100vh
  ),

  m-lightbox__slide: (
    position: absolute,
    top: 0,
    left: 0,
    width: 100vw,
    height: 100vh,
    display: flex,
    justify-content: center,
    align-items: center,

    |img: (
      display: block,
      max-width: (
        base: calc(100vw - 2em),
        phone: calc(100vw - 116px)
      ),
      max-height: (
        base: 90vh,
        phone: 90vh
      ),
      opacity: 0,
      transition: opacity 0.2s ease
    ),
    |_child: (
      name: ".is-loaded img",
      transition-delay: 0s
    ),
    |_child-2: (
      name: ".is-loaded.is-active img",
      opacity: 1,
      transition: opacity 0.3s ease,
      transition-delay: .5s
    ),
    |_child-3: (
      name: ".is-loaded.is-active .spinner",
      display: none
    )
  ),

  m-lightbox__nextPrev: (
    top: 50%,
    transform: translateY(-50%),
    width: 42px,
    height: 42px,
    visibility: hidden,
    opacity: 0,
    transition: all 0.3s ease-out,
    font-size: 50px,
    color: white,

    |_is-active: (
      visibility: (
        base: visible,
        tablet: hidden
      ),
      opacity: 1
    ),

    |svg: (
      display: block,
      width: 100%,
      height: auto
    ),

    _-next: (
      right: 1em),

    _-prev: (
      left: 1em),

    hover: (
      cursor: pointer)
  ),

  m-lightbox__counter: (
    display: none),

  spinner: (
    display: none),

  test-class-col: (
    font-family: "hello")

);
