@import "../../Admin/Dev/root";

//// --- LOAD SCREEN --- ////////////////////////////
$s-LoadScreen: (

  //// 1 //////////// Load Classes
  loaded: (
    |child: (
      name: #e_load-div,
      opacity: 0,
      visibility: hidden,
      transition: all 0.3s ease-out
    )
  ),

  //// 2 //////////// Load IDs
  #e_load-div: (
    background: white,
    width: 100%,
    height: 100%,
    opacity: 1,
    z-index: 1001,
    position: absolute,
    top: 0,
    left: 0,
    bottom: 0,
    right: 0
  )

);

$Epic-Map: $s-LoadScreen;
@import "../../Admin/Dev/the-epic";
