.d__deets {
  grid-area: deets;
  width: 100vw;
  height: 100%;
  display: block;
  -ms-flex-line-pack: center;
  align-content: center;
  overflow: hidden; }
  .d__deets--sphere {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: absolute;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    margin-bottom: -50px;
    overflow: hidden;
    z-index: -3;
    justify-self: center; }
    .d__deets--sphere:before {
      width: 1994px;
      height: 1994px;
      background: #060826;
      display: block;
      border-radius: 50% 50% 0 0;
      position: absolute;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      content: ' '; }
    .d__deets--sphere-container {
      width: 0;
      height: 0;
      overflow: hidden; }
  .d__deets--text-div {
    grid-area: text;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 100px;
    height: 100px;
    width: 100%;
    margin-bottom: 40px; }
    .d__deets--text-div h2 {
      font-family: "myriad pro", "helvetica", "arial", sans-serif;
      color: #FFF;
      font-size: 48px;
      font-weight: 300;
      line-height: 3.5rem;
      text-align: center; }
    .d__deets--text-div span {
      display: block;
      font-weight: 500; }
  .d__deets--blocks-div {
    grid-area: blocks;
    color: white;
    font-family: "myriad pro", "helvetica", "arial", sans-serif;
    grid-template-areas: ". el1 el1 el1 ." ". el3 el4 el5 .";
    grid-template-columns: 1fr 270px 270px 270px 1fr;
    grid-template-rows: 200px 200px;
    width: 100%;
    display: grid;
    margin-top: 70px;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    height: auto;
    grid-gap: 60px;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .d__deets--blocks-div .el1 {
      grid-area: el1;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .d__deets--blocks-div .el1 .block {
        width: 270px; }
    .d__deets--blocks-div .el3 {
      grid-area: el3; }
    .d__deets--blocks-div .el4 {
      grid-area: el4; }
    .d__deets--blocks-div .el5 {
      grid-area: el5; }
    .d__deets--blocks-div .block h3 {
      font-size: 30px;
      font-weight: 300;
      line-height: 5rem; }
    .d__deets--blocks-div .block p {
      font-size: 18px;
      font-weight: 100;
      line-height: 1.75rem; }
      .d__deets--blocks-div .block p .bold {
        font-weight: 600; }
      .d__deets--blocks-div .block p .grey {
        color: #F6F6F6;
        opacity: 0.8; }

@media (min-width: 1860px) {
  .d__deets--sphere {
    height: 90vh; } }

@media (min-width: 1401px) {
  .d__deets--sphere {
    display: inline-block; } }

@media (min-width: 901px) and (max-width: 1200px) {
  .d__deets--blocks-div {
    grid-template-areas: ". el1 el1 ." ". el3 el4 ." ". el5 el5 .";
    grid-template-columns: 1fr 270px 270px 1fr; }
    .d__deets--blocks-div .el5 {
      width: 270px;
      margin: 0 auto; } }

@media (max-width: 1200px) {
  .d__deets--sphere {
    height: 130vh; }
  .d__deets--blocks-div {
    grid-template-rows: 1fr 1fr; } }

@media (min-width: 901px) {
  .d__deets--blocks-div .el1 .block {
    margin-right: 30px;
    margin-left: 30px; } }

@media (max-width: 900px) {
  .d__deets--sphere {
    height: 180vh; }
  .d__deets--blocks-div {
    grid-template-areas: ". el1 ." ". el3 ." ". el4 ." ". el5 .";
    grid-template-columns: 1fr 270px 1fr;
    grid-template-rows: 1fr auto; }
    .d__deets--blocks-div .el1 {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .d__deets--blocks-div .el1 .block {
        margin-bottom: 60px; }
      .d__deets--blocks-div .el1 div:nth-child(2) {
        margin-bottom: auto; } }

@media (max-width: 600px) {
  .d__deets {
    margin-bottom: 30px; } }

@media (max-width: 400px) {
  .d__deets--text-div h2 {
    font-size: 11vw;
    line-height: 3rem; }
  .d__deets--blocks-div {
    grid-template-columns: 1fr 80vw 1fr; } }
