.f__footer {
  grid-area: footer;
  width: 100vw;
  height: 100%;
  display: grid;
  overflow: hidden;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }
  .f__footer--maindiv {
    height: 330px;
    width: 100%;
    display: grid;
    grid-template-areas: ". text ." ". buttons ." ". versions .";
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 590px 1fr;
    z-index: 2; }
  .f__footer--bg-div {
    height: 482px;
    width: 100%;
    max-width: 100vw;
    position: absolute;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    -webkit-filter: drop-shadow(0 5px 22px rgba(0, 0, 0, 0.56));
    filter: drop-shadow(0 5px 22px rgba(0, 0, 0, 0.56));
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    background-image: url("../../assets/s__hero--background.svg");
    background-size: cover;
    -webkit-clip-path: url(#clip);
    clip-path: url(#clip); }
  .f__footer--text-div {
    grid-area: text; }
    .f__footer--text-div h1 {
      font-family: "myriad pro", "helvetica", "arial", sans-serif;
      color: white;
      text-align: center;
      font-weight: 300;
      font-size: 36px;
      line-height: 2.75rem; }
    .f__footer--text-div span {
      font-weight: 500; }
  .f__footer--bttns-div {
    grid-area: buttons;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 68px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .f__footer--bttns-div a {
      text-decoration: none;
      margin-right: 10px;
      margin-left: 10px; }
      .f__footer--bttns-div a button {
        background: white;
        padding: 15px;
        padding-bottom: 12px;
        border: none;
        border-radius: 50px;
        font-family: "myriad pro", "helvetica", "arial", sans-serif;
        font-weight: 600;
        font-size: 22px;
        min-width: 182px;
        line-height: 2.75rem;
        color: #7825B8;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
        .f__footer--bttns-div a button:hover {
          background: #008FD6;
          -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.39);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.39);
          color: white;
          -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05); }
    .f__footer--bttns-div .fa {
      margin-right: 10px; }
    .f__footer--bttns-div .fa.github {
      font-family: "Font Awesome 5 Solid", "Font Awesome 5 Line", "Font Awesome 5 Brands"; }
      .f__footer--bttns-div .fa.github:before {
        content: "\f09b"; }
    .f__footer--bttns-div .fa.zip {
      font-family: "Font Awesome 5 Solid", "Font Awesome 5 Line", "Font Awesome 5 Brands"; }
      .f__footer--bttns-div .fa.zip:before {
        content: "\f1c6"; }
    .f__footer--bttns-div .fa.how-to {
      font-family: "Font Awesome 5 Solid", "Font Awesome 5 Line", "Font Awesome 5 Brands"; }
      .f__footer--bttns-div .fa.how-to:before {
        content: "\f05a"; }
  .f__footer--vs-div {
    grid-area: versions;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    font-family: "myriad pro", "helvetica", "arial", sans-serif;
    color: white;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-item-align: self-start;
    align-self: self-start; }
    .f__footer--vs-div .divider {
      margin-left: 0.5rem;
      margin-right: 0.5rem; }

.trigger {
  background: none;
  border: none;
  color: white;
  padding: 0;
  font-family: "myriad pro", "helvetica", "arial", sans-serif;
  -webkit-transition: color 0.02s linear;
  transition: color 0.02s linear; }
  .trigger:hover {
    color: #060826;
    -webkit-transition: color 0.02s linear;
    transition: color 0.02s linear; }

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: visibility 0s linear 0.25s, opacity 0.25s 0s, -webkit-transform 0.25s;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, -webkit-transform 0.25s;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s, -webkit-transform 0.25s;
  z-index: 5; }

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 35px;
  width: 200px;
  border-radius: 0.5rem;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: "myriad pro", "helvetica", "arial", sans-serif; }
  .modal-content div {
    height: 100%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .modal-content div a {
      text-decoration: none;
      color: #A825A4;
      -webkit-transition: color 0.02s linear;
      transition: color 0.02s linear; }
      .modal-content div a:hover {
        color: #7825B8;
        -webkit-transition: color 0.02s linear;
        transition: color 0.02s linear; }
    .modal-content div > p {
      margin-top: 50px; }

.close-button {
  float: right;
  width: 3rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 50px;
  background-color: #A825A4;
  color: white;
  -webkit-transition: background-color 0.02s linear;
  transition: background-color 0.02s linear;
  -ms-flex-item-align: end;
  align-self: flex-end;
  justify-self: flex-start; }
  .close-button:hover {
    background-color: #7825B8;
    -webkit-transition: background-color 0.02s linear;
    transition: background-color 0.02s linear; }

.show-modal {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: visibility 0s linear 0s, opacity 0.25s 0s, -webkit-transform 0.25s;
  transition: visibility 0s linear 0s, opacity 0.25s 0s, -webkit-transform 0.25s;
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s, -webkit-transform 0.25s; }

@media (min-width: 1201px) and (max-width: 1400px) {
  .f__footer {
    background: #060826; } }

@media (max-width: 900px) {
  .f__footer {
    background: #060826; } }

@media (max-width: 600px) {
  .f__footer {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .f__footer--maindiv {
      height: 90%;
      grid-template-columns: 1fr 80vw 1fr; }
    .f__footer--text-div {
      width: 70vw;
      margin: 0 auto;
      margin-top: 45px; }
    .f__footer--bttns-div {
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
      height: 175px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .f__footer--vs-div {
      -ms-flex-item-align: self-end;
      align-self: self-end;
      margin-bottom: 60px; } }

@media (max-width: 400px) {
  .f__footer--text-div {
    width: 80vw;
    margin-bottom: 11px; }
    .f__footer--text-div h1 {
      font-size: 32px;
      line-height: 2.5rem; } }
