@import "../../root";

//// --- NAVIGATION --- ////////////////////////////
$s-Navigation: (

  //// 1 //////////// Folio Pagination
  e_folionav: (
    padding: 20px,
    padding-right: 25px,
    padding-left: 25px,
    background: $night,
    color: white,
    height: 100%,
    width: 100%,
    hover: (
      background: $sky,
      font-weight: 600,
      cursor: pointer,
      font-size: 25px,
      padding-top: 15px,
      padding-bottom: 15px,
      padding-left: 23.5px,
      padding-right: 23.5px,
      line-height: 1.1
    )
  )

);

$Epic-Map: $s-Navigation;
@import "../../the-epic";
