/// INFO: Global Principles should be applicable across the entire website

//// --- Global Specifications --- ////////////////////////////
$s1-GlobalSpecs: (

  bck-face: (
    position: absolute,
    z-index: 0,
    width: 100%,
    height: 100%
  ),

  frnt-face: (
    position: relative,
    z-index: 1,
    width: 100%
  ),

  grid-cntr: (
    align-self: center,
    justify-self: center
  ),

  fill-all: (
    width: 100%,
    height: 100%
  ),

  dflt-pad: (
    padding-left: (
      base: 105px
    ),
    padding-right: (
      base: 105px
    )
  ),

  bg-frame: (
    grid-column: "1 / 4",
    position: absolute,
    z-index: 0,
    display: grid,
    width: 100%
  )

);
//// --- END Global Specifications --- ////////////////////////
