.d__deets {
  width: 100%;
  height: 700px;
  display: grid;
  grid-template-areas: ". text ." "blocks blocks blocks";
  grid-template-rows: 80px 1fr;
  grid-template-columns: 1fr 260px 1fr;
  align-content: center;
  padding-top: 98px; }
  .d__deets--sphere {
    display: inline-flex;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-bottom: -50px;
    overflow: hidden;
    z-index: -1;
    justify-self: center; }
    .d__deets--sphere:before {
      width: 1994px;
      height: 1994px;
      background: #060826;
      display: block;
      border-radius: 50% 50% 0 0;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      content: ' '; }
  .d__deets--text-div {
    grid-area: text;
    display: flex;
    justify-content: center; }
    .d__deets--text-div h2 {
      font-family: "myriad pro", "helvetica", "arial", sans-serif;
      color: #FFF;
      font-size: 48px;
      font-weight: 300;
      line-height: 3.5rem;
      text-align: center; }
    .d__deets--text-div span {
      display: block;
      font-weight: 500; }
  .d__deets--blocks-div {
    grid-area: blocks;
    color: white;
    font-family: "myriad pro", "helvetica", "arial", sans-serif;
    grid-template-areas: ". row1 ." ". row2 .";
    grid-template-columns: 1fr 932px 1fr;
    grid-template-rows: 200px 200px;
    width: 100%;
    display: grid;
    margin-top: 70px;
    align-content: center;
    grid-row-gap: 62px; }
    .d__deets--blocks-div .block-row {
      display: inline-grid;
      text-align: center;
      justify-content: center;
      grid-gap: 76px; }
      .d__deets--blocks-div .block-row.row1 {
        grid-area: row1;
        grid-template-areas: 'el1 el2';
        grid-template-columns: 270px 270px; }
        .d__deets--blocks-div .block-row.row1 .el1 {
          grid-area: el1; }
        .d__deets--blocks-div .block-row.row1 .el2 {
          grid-area: el2; }
      .d__deets--blocks-div .block-row.row2 {
        grid-area: row2;
        grid-template-areas: 'el3 el4 el5';
        grid-template-columns: 270px 270px 270px; }
        .d__deets--blocks-div .block-row.row2 .el3 {
          grid-area: el3; }
        .d__deets--blocks-div .block-row.row2 .el4 {
          grid-area: el4; }
        .d__deets--blocks-div .block-row.row2 .el5 {
          grid-area: el5; }
      .d__deets--blocks-div .block-row .block h3 {
        font-size: 30px;
        font-weight: 300;
        line-height: 5rem; }
      .d__deets--blocks-div .block-row .block p {
        font-size: 18px;
        font-weight: 100;
        line-height: 1.75rem; }
        .d__deets--blocks-div .block-row .block p .bold {
          font-weight: 600; }
        .d__deets--blocks-div .block-row .block p .grey {
          color: #F6F6F6;
          opacity: 0.8; }

@media (min-width: 1801px) {
  .d__deets--sphere {
    display: inline-block; } }
