.i__intro {
  grid-area: intro;
  width: 100vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .i__intro--sphere {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    width: 100%;
    height: 240px;
    margin: 0 auto;
    overflow: visible;
    z-index: -1;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
    .i__intro--sphere:before {
      width: 1994px;
      height: 1994px;
      background: #060826;
      display: inline-block;
      border-radius: 50%;
      margin: 0 auto;
      position: relative;
      content: ' '; }
    .i__intro--sphere-container {
      width: 100vw;
      height: 100%;
      overflow: hidden; }
  .i__intro--text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 1;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .i__intro--text h1 {
      color: white;
      font-size: 36px;
      font-family: "myriad pro", "helvetica", "arial", sans-serif;
      text-align: center;
      font-weight: 300;
      line-height: 2.5rem; }
      .i__intro--text h1 .bold {
        font-weight: 500;
        display: block; }

@media (min-width: 1801px) {
  .i__intro--sphere:before {
    background: purple; } }

@media (min-width: 1201px) and (max-width: 1800px) {
  .i__intro--sphere:before {
    background: green; } }

@media (min-width: 901px) and (max-width: 1200px) {
  .i__intro--sphere {
    height: 200px; }
    .i__intro--sphere:before {
      background: blue; } }

@media (min-width: 601px) and (max-width: 900px) {
  .i__intro--sphere:before {
    background: red; } }

@media (min-width: 401px) and (max-width: 600px) {
  .i__intro--sphere:before {
    background: orange; } }

@media (max-width: 400px) {
  .i__intro--sphere:before {
    background: yellow; } }
