.yolo {
  background: yellow; }
  .yolo\:hmm {
    color: blue;
    display: grid;
    -webkit-writing-mode: horizontal-tb;
    -ms-writing-mode: lr-tb;
    writing-mode: horizontal-tb; }
  .yolo .wonderful #wellthisworks > .ordoesit a:hover [target=_blank] {
    background: 0 auto; }
  .yolo, .wellthen {
    --yolo-wellthen-m: 33px;
    margin: var(--yolo-wellthen-m); }
  .yolo + section {
    padding: 1rem; }
  .yolo ~ #blue {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-box-shadow: 0 0 1px transparent;
    box-shadow: 0 0 1px transparent; }
    .yolo ~ #blue:hover, .yolo ~ #blue:focus, .yolo ~ #blue:active {
      -webkit-animation-name: buzz;
      animation-name: buzz;
      -webkit-animation-duration: 0.15s;
      animation-duration: 0.15s;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite; }
  .yolo #yolo {
    -webkit-transition: 0.9 ease-in-out;
    transition: 0.9 ease-in-out; }
  .yolo__totallyrad__hmm {
    grid-area: var(--yolo-totallyradhmm-g); }
    .yolo__totallyrad__hmm\:blue {
      --yolo-totallyradhmm-blue-h: 10px;
      height: var(--yolo-totallyradhmm-blue-h); }
  .yolo--wonderful--yolo {
    --yolo-wonderfulyolo-h: auto;
    height: var(--yolo-wonderfulyolo-h); }
    .yolo--wonderful--yolo\:blue {
      --yolo-wonderfulyolo-blue-h: 20px;
      height: var(--yolo-wonderfulyolo-blue-h); }
  .yolo::after {
    width: 800px; }
  .yolo-sphere {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    background: blue; }

.blue > #redintheface html {
  background: 7 auto; }

#blue > .redintheface.headerclass {
  background: 7 auto; }

@media (min-width: 1401px) {
  .yolo-sphere {
    display: inline-block; } }
