$s1-Base-Patterns: (

  pa_ptrn-stripedv: (
    background: (auto, pattern, 'to bottom', 2, $sky, $ocean, .25em, 1em),
    height: 100%,
    width: .85em,
  )

);

$s1-Brand-SVG: (
  svg-bg: (
    grid-column: '1 / 13',
    width: 100%,
    height: 100%,
    overflow: visible
  )
);
