$s1-Base-Strokes: (

  pa_strk-oceantop: (

    padding-top: 2px,

    before: (
      display: block,
      outline: 2px solid$ocean,
      content: (qt, ' '),
      padding: 0,
      margin: 0,
      margin-top: -4px)
  )
);
