@mixin pattern-tool-1($redline, $redline-str, $greenline-list, $greenline-str, $greenline-length, $splitter, $breakpoint, $EpicAct, $important-check) {
  @if $redline-str == background and if(str-index($greenline-str, "pattern"), true, false) {
    $property: $redline;
    $patterntype: nth($greenline-list, 1);
    $direction: nth($greenline-list, 2);
    $coloramount: nth($greenline-list, 3);
    $color1: nth($greenline-list, 4);
    $color2: nth($greenline-list, 5);
    $size: nth($greenline-list, 6);
    $gapsize: nth($greenline-list, 7);
    //$mix: if($greenline-length >= 3, nth($greenline-list, 3), nope);

    @if $coloramount == 2 {
      $gap-tally: $size + $gapsize;
      $size-tally: $gap-tally / 2;
      $size-tally2: $size-tally + $size;
      $gap-tally2: $size-tally2 + $gapsize;


      #{$property}: -webkit-repeating-linear-gradient(unquote($direction), $color1, $color1 $size, transparent $size, transparent $gap-tally), -webkit-repeating-linear-gradient(unquote($direction), $color2 $size-tally, $color2 $size-tally2, transparent $size-tally2, transparent $gap-tally2);
      #{$property}: repeating-linear-gradient(unquote($direction), $color1, $color1 $size, transparent $size, transparent $gap-tally), repeating-linear-gradient(unquote($direction), $color2 $size-tally, $color2 $size-tally2, transparent $size-tally2, transparent $gap-tally2);

    }
  }
}
