@import "variables";

// Applies CSS Instagram filter to images.
@mixin instagram-css($redline, $redline-str, $greenverb-list, $greenverb-str, $greenverb-length, $splitter, $breakpoint, $EpicAct, $namebreak-feature, $important-check) {
  $determiner: nth($greenverb-list, 1);
  $decider: if(str-index($determiner, instagram-css), true, false);

  // Runs Insta-Filter if called
  @if $decider == true {
    $filter: nth($greenverb-list, 2);
    #{filter}: _($instagram-filters, $filter, filter);

    @if _($instagram-filters, $filter, before) {
      &::before {
        #{background}: _($instagram-filters, $filter, before, background);
        #{content}: "";
        #{mix-blend-mode}: _($instagram-filters, $filter, before, mix-blend-mode);
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
      }
    }
  }
}
