// Windsor Base Settings //

// The Windsor Hexi
$hex-tool: 't-';
$hex-style: 's-';
$hex-components: 'c-';

// The Windsor Default Column Gutter Width
$Hx-Column-gutter : 10px !default;
$Hx-Row-gutter : 10px !default;
$Hx-Column-count: 12;
$Hx-Column-fixedprefix: px;
$Hx-fixedwith: 960;

$Hx-Column-12: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
$Hx-Column-8: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
$Hx-Column-6: 1fr 1fr 1fr 1fr 1fr 1fr;
$Hx-Column-3: 1fr 1fr 1fr;

$Hx-Column-12-fixedw: 1fr repeat(10, 96px) 1fr;

$autofit: auto;
