//// --- Switches and Variables --- ////////////////////////////

  $Enable-Overrides: no; // Enables Total Importance or Breakpoint.
  $Enable-StyleBrks: yes; // Enables breakpoints for Styles.
  $Enable-ImportantEpic: no; // Enables important part of The Epic.
  $Enable-AVP: yes; // Yes or No - Enable Auto Vendor Prefixes.
  $Include-AliasBrkname: yes; // Adds breakpoint name to Aliases.

  $Wyndsor-mode: dev; // Wyndsor's Dev or Prod mode

  // Methodologies
  $sass-child: '|'; // Symbol for Children
  $sass-subclass: '_'; // Symbol for Sub-Classes
  $sass-extend: extend; // Word for Extends
  $sass-alterego: alias; // Word for Aliases
  $sass-overrides: override; // Word for Overrides
  $sass-placeholder: '+'; // Symbol for Placeholder classes

  // Tools
  $sass-autoproperty: auto; // Creates property and property values via built-in automations
  $sass-autovalue-b: auto; // Creates property values via built-in automations
  $sass-autovalue-c: custo; // Creates property values via custom automations

  // Augmentations
  $sass-autovendor: -vp; // Adds vendors to property values
  $sass-autoquote: qt; // Maintains quotes after composing
