//// •••••• FUNDAMENTAL IMPORTS •••••• ////
@import "plugins/FontAwesome/_tc+font-awesome.scss";
// Put 'em here partner.
@if $Wyndsor-mode == prod or $prime-dev-override == true {
//// --- FONT IMPORTS --- ////////////////////////////

  //// 1 //////////// Kin Bold
    @font-face {
      font-family: 'kin-bold';
      src: url('../fonts/kin-bold-webfont.svg#kinbold') format('svg');
      src: url('../fonts/kin-bold-webfont.eot?#iefix') format('embedded-opentype'),
           url('../fonts/kin-bold-webfont.woff2') format('woff2'),
           url('../fonts/kin-bold-webfont.woff') format('woff'),
           url('../fonts/kin-bold-webfont.ttf') format('truetype'),
           url('../fonts/kin-bold-webfont.eot');

      font-weight: bold;
      font-style: normal;
    }

  //// 2 //////////// Kin Regular
  @font-face {
    font-family: 'kin-regular';
    src: url('../fonts/kin-regular-webfont.eot');
    src: url('../fonts/kin-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kin-regular-webfont.woff2') format('woff2'),
         url('../fonts/kin-regular-webfont.woff') format('woff'),
         url('../fonts/kin-regular-webfont.ttf') format('truetype'),
         url('../fonts/kin-regular-webfont.svg#kinregular') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  //// 3 //////////// Kith Bold
  @font-face {
    font-family: 'kith-bold';

    src: url('../fonts/kith-bold-webfont.eot');
    src: url('../fonts/kith-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kith-bold-webfont.woff2') format('woff2'),
         url('../fonts/kith-bold-webfont.woff') format('woff'),
         url('../fonts/kith-bold-webfont.ttf') format('truetype'),
         url('../fonts/kith-bold-webfont.svg#kithbold') format('svg');
    font-weight: bold;
    font-style: normal;
  }

  //// 4 //////////// Kith Regular
  @font-face {
    font-family: 'kith-regular';
    src: url('../fonts/kith-regular-webfont.eot');
    src: url('../fonts/kith-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kith-regular-webfont.woff2') format('woff2'),
         url('../fonts/kith-regular-webfont.woff') format('woff'),
         url('../fonts/kith-regular-webfont.ttf') format('truetype'),
         url('../fonts/kith-regular-webfont.svg#kithregular') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  //// 5 //////////// Kith Semilight
  @font-face {
    font-family: 'kith-light';
    src: url('../fonts/kith-semilight-webfont.eot');
    src: url('../fonts/kith-semilight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kith-semilight-webfont.woff2') format('woff2'),
         url('../fonts/kith-semilight-webfont.woff') format('woff'),
         url('../fonts/kith-semilight-webfont.ttf') format('truetype'),
         url('../fonts/kith-semilight-webfont.svg#kithsemilight') format('svg');
    font-weight: normal;
    font-style: normal;
  }

//// --- FONT IMPORTS --- ////////////////////////
}
