/// INFO: Artboards are class tailored to each section of the website

//// --- Folio Pieces Artboards --- ////////////////////////////
$cb-FolioPieces-Baseboard: (
  folio-piece-grid: (
    display: grid,
    padding-bottom: 140px
  )
);

$cb-FolioPieces-Section-1: (
  folio-piece-sctn-1: (
    grid-column: "1 / 4",
    display: grid
  )
);
//// --- END Folio Pieces Artboards --- ////////////////////////
