// inject: dependenciesbase //
// endinject: dependenciesbase //

//// --- LOAD SCREEN --- ////////////////////////////
$d-Deets: (

  d__deets: (
    grid-area: deets,
    width: 100vw,
    height: 100%,
    display: block,
    align-content: center,
    overflow: hidden,
    margin-bottom: (phone-dn: 30px),
    \--sphere: (
      display: (
        base: inline-flex,
        desktop-up: inline-block
      ),
      position: absolute,
      width: 100%,
      height: (
        base: 100vh,
        tablet-dn: 130vh,
        phablet-dn: 180vh,
        high-desktop: 90vh
      ),
      margin: 0 auto,
      margin-bottom: -50px,
      overflow: hidden,
      z-index: -3,
      justify-self: center,
      before: (
        width: 1994px,
        height: 1994px,
        background: #060826,
        display: block,
        border-radius: 50% 50% 0 0,
        position: absolute,
        left: 50%,
        transform: translate(-50%, 0),
        content: "' '",
      ),
      \-container: (
        width: 0,
        height: 0,
        overflow: hidden
      )
    ),
    \--text-div: (
      grid-area: text,
      display: flex,
      justify-content: center,
      margin-top: 100px,
      height: 100px,
      width: 100%,
      margin-bottom: 40px,
      \>\>h2: (
        font-family: $ff-prime,
        color: $white,
        font-size: (
          base: 48px,
          tiny: 11vw
        ),
        font-weight: 300,
        line-height: (
          base: 3.5rem,
          tiny: 3rem
        ),
        text-align: center
      ),
      \>\>span: (
        display: block,
        font-weight: 500
      )
    ),
    \--blocks-div: (
      grid-area: blocks,
      color: white,
      font-family: $ff-prime,
      grid-template-areas: (
        base: ". el1 el1 el1 ." ". el3 el4 el5 .",
        tablet: ". el1 el1 ." ". el3 el4 ." ". el5 el5 .",
        phablet-dn: ". el1 ." ". el3 ." ". el4 ." ". el5 ."
      ),
      grid-template-columns: (
        base: 1fr 270px 270px 270px 1fr,
        tablet: 1fr 270px 270px 1fr,
        phablet-dn: 1fr 270px 1fr,
        tiny: 1fr 80vw 1fr
      ),
      grid-template-rows: (
        base: 200px 200px,
        tablet-dn: 1fr 1fr,
        phablet-dn: 1fr auto
      ),
      width: 100%,
      display: grid,
      margin-top: 70px,
      align-content: flex-start,
      height: auto,
      grid-gap: 60px,
      text-align: center,
      justify-content: center,
      \>\>el1: (
        grid-area: el1,
        display: inline-flex,
        flex-direction: (
          base: row,
          phablet-dn: column
        ),
        align-items: center,
        justify-content: center,
        \>\>block: (
          width: 270px,
          margin-right: (phablet-up: 30px),
          margin-left: (phablet-up: 30px),
          margin-bottom: (phablet-dn: 60px)
        ),
        \\" div:nth-child(2)": (
          margin-bottom: (phablet-dn: auto)
        )
      ),
      \>\>el3: (
        grid-area: el3
      ),
      \>\>el4: (
        grid-area: el4
      ),
      \>\>el5: (
        grid-area: el5,
        width: (tablet: 270px),
        margin: (tablet: 0 auto)
      ),
      \>\>block: (
        \>\>h3: (
          font-size: 30px,
          font-weight: 300,
          line-height: 5rem,
        ),
        \>\>p: (
          font-size: 18px,
          font-weight: 100,
          line-height: 1.75rem,
          \>\>bold: (font-weight: 600),
          \>\>grey: (color: $grey, opacity: .8)
        ),
      )
    )
  )

);

$Epic-Map: $d-Deets;
// inject: dependenciesepic //
// endinject: dependenciesepic //
