// inject: dependenciesbase //
// endinject: dependenciesbase //

$f-Footer: (
  f__footer: (
    grid-area: footer,
    width: 100vw,
    height: 100%,
    display: grid,
    overflow: hidden,
    align-items: flex-end,
    \--maindiv: (
      height: 290px,
      width: 100%,
      display: grid,
      grid-template-areas: ". text ." ". buttons ." ". versions .",
      grid-template-rows: 1fr 1fr 1fr,
      grid-template-columns: 1fr 590px 1fr,
    ),
    \--bg-div: (
      height: auto,
      width: 100vw,
      position: absolute,
      z-index: -1,
      max-width: 100%,
      background: $black,
      overflow: hidden,
      display: flex,
      align-items: flex-end,
      \>\>img: (
        width: 100%,
        height: 100%,
        display: (
          base: block,
          phablet-dn: none
        )
      ),
      \\" img:nth-child(2)": (
        display: (
          base: none,
          phablet-dn: block
        )
      )
    ),

    \--text-div: (
      grid-area: text,
      \>\>h1: (
        font-family: $ff-prime,
        color: white,
        text-align: center,
        font-weight: 300,
        font-size: 36px,
        line-height: 2.75rem
      ),
      \>\>span: (
        font-weight: 500
      )
    ),

    \--bttns-div: (
      grid-area: buttons,
      display: flex,
      justify-content: center,
      height: 68px,
      \>\>a: (
        text-decoration: none,
        margin-right: auto,
        \>\>button: (
          padding: 15px,
          padding-bottom: 12px,
          border: none,
          border-radius: 8px,
          font-family: $ff-prime,
          font-weight: 600,
          font-size: 22px,
          min-width: 182px,
          line-height: 2.75rem,
          color: $purple,
          transition: all .2s ease-in-out,
          hover: (
            background: $blue,
            box-shadow: 0 3px 7px rgba(0, 0, 0, 0.39),
            color: white,
            transform: scale(1.05, 1.05)
          ),
        )
      ),
      \\" .fa": (
        margin-right: 10px
      ),
      \\" .fa.github": (
        auto: (fontawesome, github)
      ),
      \\" .fa.zip": (
        auto: (fontawesome, file-archive)
      ),
      \\" .fa.how-to": (
        auto: (fontawesome, info-circle)
      ),
    ),

    \--vs-div: (
      grid-area: versions,
      display: flex,
      flex-direction: row,
      font-family: $ff-prime,
      color: white,
      justify-content: center,
      align-self: self-start,

      \>\>divider: (
        margin-left: .5rem,
        margin-right: .5rem,
      )
    )
  )

);

$Epic-Map: $f-Footer;
// inject: dependenciesepic //
// endinject: dependenciesepic //
