// inject: dependenciesbase //
// endinject: dependenciesbase //
//// --- DESCRIPTION --- ////////////////////////////

$w-Hero: (
  body: (
    display: grid,
    grid-template-areas: "hero" "highlights" "deets" "footer",
    grid-template-rows: (
      base: _($site-heights, hero, base) 612px 800px 482px,
      tablet: _($site-heights, hero, base) 980px 1080px 482px,
      desktop-up: _($site-heights, hero, desktop-up) 612px 800px 482px,
      phablet: _($site-heights, hero, base) 155vh 180vh 482px,
      phone-dn: _($site-heights, hero, base) 300vw 100% 482px,
      tiny: _($site-heights, hero, base) 132vh 100% 482px
    )
  ),
  s__hero: (
    background: none,
    position: relative,
    height: (
      base: 600px,
      desktop-up: 800px
    ),
    width: 100vw,
    z-index: 1,
    grid-area: hero,
    display: grid,
    grid-template-areas: (
      base: "versions logo nav" ". logo .",
      phablet-dn: "nav nav nav" "logo logo logo" "versions versions versions"
    ),
    grid-template-rows: (
      base: 200px 1fr,
      phablet-dn: .75fr 1fr 1fr
    ),
    grid-template-columns: 20vw 1fr 20vw,

    \--bg-div: (
      height: 100%,
      width: 100%,
      max-width: 100vw,
      position: absolute,
      z-index: -1,
      display: flex,
      justify-content: center,
      filter: drop-shadow(0 5px 22px $shadow),
      \>\>background: (
        width: 100%,
        height: 100%,
        background-image: url("../../assets/s__hero--background.svg"),
        background-size: cover,
        background-position: center center,
        clip-path: url(#clip)
      )
    ),
    --bg: (
      overflow: visible,
      position: absolute,
      transition: all .01s ease-in-out,
      height: (
        base: auto,
        tablet-dn: 100%
      ),
      width: (
        base: 100%,
        tablet-dn: auto
      ),
      z-index: -1,
      left: 50%,
      transform: translateX(-50%)
    )
  ),

  h__logo: (
    grid-area: logo,
    display: flex,
    justify-content: center,
    align-items: center,
    padding-bottom: (
      base: 75px,
      tablet-dn: 50px
    ),
    \>\>logo: (
      background: url('../../../assets/h__hero--logo.svg') no-repeat,
      background-size: (
        base: auto auto,
        phone-dn: 60vw auto,
        tiny: 70vw auto),
      background-position: center,
      width: (
        base: 414px,
        phone-dn: 60vw,
        tiny: 70vw),
      display: block,
      min-height: 120px,
    )
  ),
  h__bug--div: (
    grid-area: versions,
    display: flex,
    flex-direction: row,
    justify-content: (
      phablet-dn: center
    ),
    padding: (
      base: 40px 0 0 40px,
      phablet-dn: 40px 0 0 0
    ),
  ),
  h__bugs: (
    max-height: 30px,
    padding: 2px,
    border-radius: 25px,
    background: white,
    min-width: 55px,
    text-align: center,
    width: 20px,
    auto: (hover-css, buzz),
    animation-delay: 5s,
    \>name: (
      min-width: 100px,
      margin-right: 10px
    ),
    \>\>p: (
      font-family: $ff-prime,
      color: $purple,
      font-size: 18px,
      line-height: 2rem,
      font-weight: 600
    )
  ),
  h__nav: (
    grid-area: nav,
    display: flex,
    justify-content: (
      base: flex-end,
      phablet-dn: center
    ),
    padding: 40px 40px 0 0,
    z-index: 2,
    \>\>ul: (
      \>\>li: (
      list-style: none,
      font-family: $ff-prime,
      font-size: 18px,
      line-height: 2.5rem,
      auto: (hover-css, growRotate),
      display: (
        phablet-dn: inline-block
      ),
      margin-left: (
        phablet-dn: 20px),
      ),
      \\" .fa.github": (
        auto: (fontawesome, github)
      ),
      \\" .fa.downloads": (
        auto: (fontawesome, download)
      ),
      \\" a:hover": (
        color: white,
        transition: all ease-in-out .08s
      ),
        \>\>a: (
          text-decoration: none,
          cursor: pointer,
          color: (
            base: $blue,
            phablet-dn: $black),
        ),
      ),
      \>\>active: (
        \>\>a: (color: white)
      )
    )

);

$Epic-Map: $w-Hero; // Change to New Map Name.
// inject: dependenciesepic //
// endinject: dependenciesepic //
