// inject: dependenciesbase //
// endinject: dependenciesbase //

//// --- BUTTONS --- ////////////////////////////
$i-Intro: (

  i__intro: (
    grid-area: intro,
    width: 100vw,
    height: 100%,
    display: flex,
    justify-content: center,
    flex-direction: column,
    \--sphere: (
      display: flex,
      position: absolute,
      width: 100%,
      height: (
        base: _($site-heights, intro, base)
      ),
      margin: 0 auto,
      overflow: (
        base: hidden,
        2k: visible
      ),
      z-index: -1,
      align-items: flex-end,
      bottom: -150px,
      justify-content: center,
      before: (
        background: (
          base: $black,
          desktop-up: purple,
          desktop: green,
          tablet: blue,
          phablet: red,
          phone: orange,
          tiny: $black),
      width: (
        base: 1994px,
        tablet-dn: 1100px,
        phablet-dn: 120vw
      ),
      height: (
        base: 1994px,
        tablet-dn: 1100px,
        phablet-dn: 120vw
      ),
      display: inline-block,
      border-radius: 50%,
      position: absolute,
      content: "' '",
      )
    ),
    \--text: (
      display: flex,
      width: 100%,
      height: 100%,
      z-index: 1,
      justify-content: center,
      align-items: flex-end,
      position: absolute,
      bottom: -150px,
      padding-bottom: (base: 45px, tiny: 40px),
      \>\>h1: (
        color: white,
        font-size: (base: 36px, tiny: 32px),
        font-family: $ff-prime,
        text-align: center,
        font-weight: 300,
        line-height: 2.5rem,
        \>\>bold: (
          font-weight: 500,
          display: block
        )
      )
    )
  )

);

$Epic-Map: $i-Intro;
// inject: dependenciesepic //
// endinject: dependenciesepic //
