//// --- VARIABLES --- ////////////////////////////

  //// 1 //////////// ROY G. BIV
  $red: #ef3e3e;
  $orange: #f47d41;
  $yellow: #fed435;
  $green: #3eb660;
  $blue: #1e8ecd;
  $purple: #724199;
  $violet: #9d3895;
  $black: #282828;

  //// 2 //////////// Font-Families
  $Family-1: 'myriad-pro', 'helvetica', 'arial', sans-serif;
  $Family-2: 'kith-regular', 'helvetica', 'arial', sans-serif;
  $Family-3: 'kith-light', 'helvetica', 'arial', sans-serif;
  $Family-4: 'kin-bold', 'helvetica', 'arial', sans-serif;
