//// --- CSS GRID --- ////////////////////////////
$s0-Grid: (
  f_grid: (
    display: grid,

    //// 0 //////////// CSS Grid Amenities
    |_cntr: (
      align-self: center,
      justify-self: center
    ),

    _imprtnt: (
      display: grid !important),

    //// 1 //////////// CSS Grid Columns
    |_col-fr-12: (
      font-size: 20px,
      grid-template-columns: (
        base: repeat(12, 1fr),
        desktop: repeat(10, 1fr),
        tablet: repeat(8, 1fr),
        phablet: repeat(6, 1fr),
        phone: repeat(3, 1fr),
        tiny: 1fr
      )
    ),

    |_col-fr-3: (
      grid-template-columns: (
        base: repeat(3, 1fr),
        phone: 1fr,
        tiny: 1fr
      )
    ),

    |_col-fxd-3: (
      grid-template-columns: (
        base: 1fr 1230px 1fr,
        tablet: 1fr 800px 1fr,
        phablet: 1fr 500px 1fr,
        phone: 1fr 80vw 1fr,
        tiny: 1fr
      )
    ),

    |_col-fxd-4: (
      grid-template-columns: 1fr repeat(2, ((1230 / 2)px)) 1fr),

    |_col-fxd-5: (
      grid-template-columns: 1fr repeat(3, ((1230 / 3)px)) 1fr),

    |_col-cntr-3: (
      grid-column: '2 / 3'),

    //// 2 //////////// CSS Grid Rows
    |_row-fr-1: (
      grid-template-rows: 1fr),

    |_row-fr-2: (
      grid-template-rows: repeat(2, 1fr)),

    |_row-fr-3: (
      grid-template-rows: repeat(3, 1fr)),

    |_row-fr-4: (
      grid-template-rows: repeat(4, 1fr)),

    |_row-fr-5: (
      grid-template-rows: repeat(5, 1fr))

));

//// 1 //////////// Code/Sass Snippet Name
  //// a //////////// Snippet Sub
//// --- END SECTION --- ////////////////////////
