@import "../../root";
//// --- CSS GLOBAL RULES --- ////////////////////////////
$s0-Rules: (

//// 0 //////////// CSS Rule Amenities
  f_bg: (
    position: absolute,
    z-index: 0,
    width: 100%,
    height: 100%),

  f_fg: (
    position: relative,
    z-index: 1,
    width: 100%),

  //// 1 //////////// Fill Rules
  f_fill: (
    width: 100%,
    height: 100%,

    _W: (
      width: 100%),
    _H: (
      height: 100%,

      |_cvr: (
        width: 100%,
        max-width: 100%,
        object-fit: cover)
    )
  ),

  //// 2 //////////// Flexbox Rules
  f_flexbox: (
    display: flex,

    |_cntr: (
      justify-content: center,
      align-items: center,

      _h-stretch: (
        align-items: center,
        justify-content: stretch
      )
    ),

    |_end: (
      align-items: center,
      justify-content: flex-end
    ),

    |_top: (
      justify-content: flex-start,
      align-items: center
    ),

    |_colm: (
      flex-direction: column),

    |_row: (
      flex-direction: row)
  ),

  //// 3 //////////// Overflow Rules
  f_overflow: (
    _hddn: (
      overflow: hidden),

    _vsibl: (
      overflow: visible)),

  //// 4 //////////// Absolute Rules
  f_absolute: (
    position: absolute,

    |_zero: (
      top: 0,
      left: 0
    )
  )

);

$Epic-Map: $s0-Rules;
@import "../../the-epic";
