@import "../../Admin/root";
//// --- CSS GLOBAL SPACING --- ////////////////////////////
$s-Spacing: (

  //// 1 //////////// Margins
  f_margin:(
    |_auto: (
      margin: auto)
  ),

  //// 2 //////////// Padding
  f_padding: (
    |_dflt: (
      padding-left: (
        base: 105px),
      padding-right: (
        base: 105px)
    )
  )

);

$Epic-Map: $s-Spacing;
@import "../../Admin/the-epic";
