// prefix keyframes
@mixin keyframes($hover-name) {

  @-webkit-keyframes #{$hover-name} {@content;}
  @-moz-keyframes #{$hover-name} {@content;}
  @-ms-keyframes #{$hover-name} {@content;}
  @-o-keyframes #{$hover-name} {@content;}
  @keyframes #{$hover-name} {@content;}
}

@mixin hover-frames($hover-name) {

  // Bob
  @if $hover-name == bob {
    @include keyframes($hover-name) {
    0% {@include prefixed(transform, translateY(-8px));}
    50% {@include prefixed(transform, translateY(-4px));}
    100% {@include prefixed(transform, translateY(-8px));}}

    @include keyframes(#{$hover-name}-float) {
    100% {@include prefixed(transform, translateY(-8px));}}
  }

  // Buzz-Out
  @if $hover-name == buzzOut {
    @include keyframes($hover-name) {
      10% {@include prefixed(transform, translateX(3px) rotate(2deg));}
      20% {@include prefixed(transform, translateX(-3px) rotate(-2deg));}
      30% {@include prefixed(transform, translateX(3px) rotate(2deg));}
      40% {@include prefixed(transform, translateX(-3px) rotate(-2deg));}
      50% {@include prefixed(transform, translateX(2px) rotate(1deg));}
      60% {@include prefixed(transform, translateX(-2px) rotate(-1deg));}
      70% {@include prefixed(transform, translateX(2px) rotate(1deg));}
      80% {@include prefixed(transform, translateX(-2px) rotate(-1deg));}
      90% {@include prefixed(transform, translateX(1px) rotate(0));}
      100% {@include prefixed(transform, translateX(-1px) rotate(0));}}

  // Buzz
  @if $hover-name == buzz {
    @include keyframes($hover-name) {
      50% {@include prefixed(transform, translateX(3px) rotate(2deg));}
      100% {@include prefixed(transform, translateX(-3px) rotate(-2deg));}}
  }}

  // Hang
  @if $hover-name == hang {
    @include keyframes($hover-name) {
      0% {@include prefixed(transform, translateY(8px));}
      50% {@include prefixed(transform, translateY(4px));}
      100% {@include prefixed(transform, translateY(8px));}}

    @include keyframes(#{$hover-name}-sink) {
      100% {@include prefixed(transform, translateY(8px));}}
  }

  // Pop
  @if $hover-name == pop {
    @include keyframes($hover-name) {
    50% {@include prefixed(transform, scale(1.2));}}
  }

  // Pulse-Grow
  @if $hover-name == pulseGrow {
    @include keyframes($hover-name) {
      to {@include prefixed(transform, scale(1.1));}}
  }

  // Pulse-Shrink
  @if $hover-name == pulseShrink {
    @include keyframes($hover-name) {
      to {@include prefixed(transform, scale(.9));}}
  }

  // Pulse
  @if $hover-name == pulse {
    @include keyframes($hover-name) {
      25% {@include prefixed(transform, scale(1.1));}
      75% {@include prefixed(transform, scale(.9));}}
  }

  // Push
  @if $hover-name == push {
    @include keyframes($hover-name) {
      50% {@include prefixed(transform, scale(.8));}
      100% {@include prefixed(transform, scale(1));}}
  }

  // Wobble-Bottom
  @if $hover-name == wobbleBottom {
    @include keyframes($hover-name) {
      16.65% {@include prefixed(transform, skew(-12deg));}
      33.3% {@include prefixed(transform, skew(10deg));}
      49.95% {@include prefixed(transform, skew(-6deg));}
      66.6% {@include prefixed(transform, skew(4deg));}
      83.25% {@include prefixed(transform, skew(-2deg));}
      100% {@include prefixed(transform, skew(0));}}
  }

  // Wobble-Horizontal
  @if $hover-name == wobbleHorizontal {
    @include keyframes($hover-name) {
      16.65% {@include prefixed(transform, translateX(8px));}
      33.3% {@include prefixed(transform, translateX(-6px));}
      49.95% {@include prefixed(transform, translateX(4px));}
      66.6% {@include prefixed(transform, translateX(-2px));}
      83.25% {@include prefixed(transform, translateX(1px));}
      100% {@include prefixed(transform, translateX(0));}}
  }

  // Wobble-Skew
  @if $hover-name == wobbleSkew {
    @include keyframes($hover-name) {
      16.65% {@include prefixed(transform, skew(-12deg));}
      33.3% {@include prefixed(transform, skew(10deg));}
      49.95% {@include prefixed(transform, skew(-6deg));}
      66.6% {@include prefixed(transform, skew(4deg));}
      83.25% {@include prefixed(transform, skew(-2deg));}
      100% {@include prefixed(transform, skew(0));}}
  }

  // Wobble-to-Bottom-Right
  @if $hover-name == wobbleToBottomRight {
    @include keyframes($hover-name) {
      16.65% {@include prefixed(transform, translate(8px, 8px));}
      33.3% {@include prefixed(transform, translate(-6px, -6px));}
      49.95% {@include prefixed(transform, translate(4px, 4px));}
      66.6% {@include prefixed(transform, translate(-2px, -2px));}
      83.25% {@include prefixed(transform, translate(1px, 1px));}
      100% {@include prefixed(transform, translate(0, 0));}}
  }

  // Wobble-to-Top-Right
  @if $hover-name == wobbleToTopRight {
    @include keyframes($hover-name) {
      16.65% {@include prefixed(transform, translate(8px, -8px));}
      33.3% {@include prefixed(transform, translate(-6px, 6px));}
      49.95% {@include prefixed(transform, translate(4px, -4px));}
      66.6% {@include prefixed(transform, translate(-2px, 2px));}
      83.25% {@include prefixed(transform, translate(1px, -1px));}
      100% {@include prefixed(transform, translate(0, 0));}}
  }

  // Wobble-Top
  @if $hover-name == wobbleTop {
    @include keyframes($hover-name) {
      16.65% {@include prefixed(transform, skew(-12deg));}
      33.3% {@include prefixed(transform, skew(10deg));}
      49.95% {@include prefixed(transform, skew(-6deg));}
      66.6% {@include prefixed(transform, skew(4deg));}
      83.25% {@include prefixed(transform, skew(-2deg));}
      100% {@include prefixed(transform, skew(0));}}
  }

  // Wobble-Vertical
  @if $hover-name == wobbleVertical {
    @include keyframes($hover-name) {
      16.65% {@include prefixed(transform, translateY(8px));}
      33.3% {@include prefixed(transform, translateY(-6px));}
      49.95% {@include prefixed(transform, translateY(4px));}
      66.6% {@include prefixed(transform, translateY(-2px));}
      83.25% {@include prefixed(transform, translateY(1px));}
      100% {@include prefixed(transform, translateY(0));}}
  }

  // Ripple-In
  @if $hover-name == rippleIn {
    @include keyframes($hover-name) {
      100% {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 1;
      }}
  }

  // Ripple-Out
  @if $hover-name == rippleOut {
    @include keyframes($hover-name) {
      100% {
        top: -(6px + 6px);
        right: -(6px + 6px);
        bottom: -(6px + 6px);
        left: -(6px + 6px);
        opacity: 0;
      }}
  }

  // Icon-Bob
  @if $hover-name == iconBob {
    @include keyframes($hover-name) {
      0% {@include prefixed(transform, translateY(-6px));}
      50% {@include prefixed(transform, translateY(-2px));}
      100% {@include prefixed(transform, translateY(-6px));}}

    @include keyframes(#{$hover-name}-float) {
        100% {@include prefixed(transform, translateY(-6px));}}
  }

  // Icon-Bounce-Out
  @if $hover-name == iconBounceOut {
    @include keyframes($hover-name) {
      50% {@include prefixed(transform, scale(1.5));}}
  }

  // Icon-Buzz-Out
  @if $hover-name == iconBuzzOut {
    @include keyframes($hover-name) {
      10% {@include prefixed(transform, translateX(3px) rotate(2deg));}
      20% {@include prefixed(transform, translateX(-3px) rotate(-2deg));}
      30% {@include prefixed(transform, translateX(3px) rotate(2deg));}
      40% {@include prefixed(transform, translateX(-3px) rotate(-2deg));}
      50% {@include prefixed(transform, translateX(2px) rotate(1deg));}
      60% {@include prefixed(transform, translateX(-2px) rotate(-1deg));}
      70% {@include prefixed(transform, translateX(2px) rotate(1deg));}
      80% {@include prefixed(transform, translateX(-2px) rotate(-1deg));}
      90% {@include prefixed(transform, translateX(1px) rotate(0));}
      100% {@include prefixed(transform, translateX(-1px) rotate(0));}}
  }

  // Icon-Buzz
  @if $hover-name == iconBuzz {
    @include keyframes($hover-name) {
      50% {@include prefixed(transform, translateX(3px) rotate(2deg));}
      100% {@include prefixed(transform, translateX(-3px) rotate(-2deg));}}
  }

  // Icon-Down
  @if $hover-name == iconDown {
    @include keyframes($hover-name) {
      0%, 50%, 100% {@include prefixed(transform, translateY(0));}
      25%, 75% {@include prefixed(transform, translateY(6px));}}
  }

  // Icon-Drop
  @if $hover-name == iconDrop {
    @include keyframes($hover-name) {
      0% {opacity: 0;}
      50% {
        opacity: 0;
        @include prefixed(transform, translateY(-100%));
      }
      51%, 100% {opacity: 1;}}
  }

  // Icon-Float-Away
  @if $hover-name == iconFloatAway {
    @include keyframes($hover-name) {
      0% {opacity: 1;}
      100% {
        opacity: 0;
        @include prefixed(transform, translateY(-1em));}}
  }

  // Icon-Hang
  @if $hover-name == iconHang {
    @include keyframes($hover-name) {
      0% {@include prefixed(transform, translateY(6px));}
      50% {@include prefixed(transform, translateY(2px));}
      100% {@include prefixed(transform, translateY(6px));}}

    @include keyframes(#{$hover-name}-sink) {
      100% {@include prefixed(transform, translateY(6px));}}
  }

  // Icon-Pop
  @if $hover-name == iconPop {
    @include keyframes($hover-name) {
      50% {@include prefixed(transform, scale(1.5));}}
  }

  // Icon-Pulse-Grow
  @if $hover-name == iconPulseGrow {
    @include keyframes($hover-name) {
      to {@include prefixed(transform, scale(1.3));}}
  }

  // Icon-Pulse-Shrink
  @if $hover-name == iconPulseShrink {
    @include keyframes($hover-name) {
      to {@include prefixed(transform, scale(.8));}}
  }

  // Icon-Pulse
  @if $hover-name == iconPulse {
    @include keyframes($hover-name) {
      25% {@include prefixed(transform, scale(1.3));}
      75% {@include prefixed(transform, scale(.8));}}
  }

  // Icon-Push
  @if $hover-name == iconPush {
    @include keyframes($hover-name) {
      50% {@include prefixed(transform, scale(.5));}}
  }

  // Icon-Sink-Away
  @if $hover-name == iconSinkAway {
    @include keyframes($hover-name) {
      0% {opacity: 1;}
      100% {
        opacity: 0;
        @include prefixed(transform, translateY(1em));}}
  }

  // Icon-Up
  @if $hover-name == iconUp {
    @include keyframes($hover-name) {
      0%, 50%, 100% {@include prefixed(transform, translateY(0));}
      25%, 75% {@include prefixed(transform, translateY(-6px));}}
  }

  // Icon-Wobble-Horizontal
  @if $hover-name == iconWobbleHorizontal {
    @include keyframes($hover-name) {
      16.65% {@include prefixed(transform, translateX(6px));}
      33.3% {@include prefixed(transform, translateX(-5px));}
      49.95% {@include prefixed(transform, translateX(4px));}
      66.6% {@include prefixed(transform, translateX(-2px));}
      83.25% {@include prefixed(transform, translateX(1px));}
      100% {@include prefixed(transform, translateX(0));}}
  }

  // Icon-Wobble-Vertical
  @if $hover-name == iconWobbleVertical {
    @include keyframes($hover-name) {
      16.65% {@include prefixed(transform, translateY(6px));}
      33.3% {@include prefixed(transform, translateY(-5px));}
      49.95% {@include prefixed(transform, translateY(4px));}
      66.6% {@include prefixed(transform, translateY(-2px));}
      83.25% {@include prefixed(transform, translateY(1px));}
      100% {@include prefixed(transform, translateY(0));}}
  }
}

// Creates Keyframes required for specific hovers.
@each $key, $value in $hover-keyframes {
  @if $value == on {
    @include keyframes($key) {
      @include hover-frames($key);
    }
  }
}
