@import "../../Admin/Dev/root";

//// --- PARAGRAPH STYLES --- ////////////////////////////
$s-Paragraph: (

  //// 1 //////////// Paragraphy Alignments
  t_align: (
    |_cntr: (
      text-align: center),

    |_left: (
      text-align: left),

    |_rght: (
      text-align: right)
  )

);

$Epic-Map: $s-Paragraph;
@import "../../Admin/Dev/the-epic";
