//// •••••• FUNDAMENTAL IMPORTS •••••• ////
@import 'plugins/CSSOwl/tf+cssowl.scss';

$Grid-Deets: (
  1: (
    grid: (base, grid),
    width: (base, 20px),
    height: (base, 44px)

    //// 🚀 //////////// Animation/Transition between differences.
  //// END //////////// Don't Define styles past this point.
  )) !default;


@mixin grid-tool($property-key, $property-key-string, $property-list, $property-string, $property-length, $splitter, $custo-name, $breakpoint, $EpicAct) {
  @if $property-key-string == grid {
    #{$property-key}: #{$property-list};
  }
}
