// This has all of the required dependencies. Don't Remove.
@import "../../Admin/Dev/root";
//// --- LAYOUT --- ////////////////////////////

$l-Layout: (
  //// 1 //////////// Grids
  body: (
    height: 100vh
  ),
  l__home: (
    width: 100%,
    height: 100%,
    |grid: (
      grid-template-columns: (
        base: 1fr 600px 1fr
      ),
      grid-template-rows: (
        base: 20rem 1fr
      ),
      grid-template-areas: (
        base: ". yolo ." ". middle ."
      ))
    ),
  l__modal: (
    width: (
      base: 556px
    ),
    height: (
      base: 400px
    ),
    margin: 0 auto,
    background: $white,
    border-radius: 10px,
    border: solid 2px $purple,
    box-sizing: border-box,
    box-shadow: (0px 16px 17px 0px rgba(0, 0, 0, 0.14))
  )

);

$Epic-Map: $l-Layout;
// This produces the development css. Don't Remove (even if in Prod mode).
@import "../../Admin/Dev/the-epic";
