@import "../../Admin/Dev/root";

//// --- PALETTE COLORS --- ////////////////////////////

// Add any new colors to list for automatic population across Dapper.
$p-Colors:(
  purple: $purple,
  violet: $violet,
  blue: $blue,
  black: $black,
  white: $white
  );

$p-Palette:(
  // Instagram Filters
  p_insta:(
    +aden:(auto:(instagram-css, aden))
  ),

  p_anime:(
    +bounce:(auto:(animation-css, bounceInUp, dflt, 20s))
  ),

  p_hover:(
    +buzz-out:(
      auto:(hover-css, bob, dflt),
      font-family: 20px)
  ),

  // Colors
  p__color:(
    auto:(
      wy-repeat-any,
      namespace,
      color,
      $p-Colors
      )
    ),
  // Backgrounds
  p__bg:(
    auto:(
      wy-repeat-any,
      namespace,
      background,
      $p-Colors
      ),
      +light-grey: (
        background: linear-gradient(45deg, #EEEEEE, #FFFFFF)
      )
    )

);

//// --- END COLORS --- ////////////////////////

$Epic-Map: $p-Palette;
@import "../../Admin/Dev/the-epic";
