
$c-Base-Footer: (
  a_fttr-wrapper: (
    width: 100%,
    height: (
      base: 320px,
      tablet: 20px
    ),
    position: relative,
    display: grid,
    grid-column-gap: 2em,
    grid-template-columns: (
      base: repeat(12, 1fr)),
    background: $night
  ),

  a_fttr-bg: (
    |c_svg-bg-rect: (
      width: 100%,
      height: (
        base: 320px,
        phablet: 20px,
        tablet: 15px)
      )
    ),

  a_fttr-main: (
    display: grid,
    grid-column: '1 / 13',
    grid-column-gap: 2em,
    padding-left: 2em,
    padding-right: 2em,
    grid-template-columns: (
      base: repeat(12, 1fr)),
    |h1: (
      color: blue
    ),

    _sitemap: (
      grid-column: '1 / 5',
      align-self: center,
      |p: (
        text-align: right,
        width: 100%
      )
    ),

    _logo: (
      grid-column: '5 / 9',
      align-self: center,
      justify-self: center
    ),

    _copyright: (
      grid-column: '9 / 13',
      align-self: center,
      width: (
        base: 100%,
        tablet: 90%,
        tinyphone: 20%),
      |p: (
        width: 100%,
        text-align: left
      )
    )
  )

);
