$c-Base-Header: (

a_hddr-main: (
  alias: (#a_touchbase),
  height: (320px),
  width: auto,
  display: grid,
  grid-template-rows: 40px 1fr,
  _toplines: (
    grid-row-start: 1,
    grid-row-end: 2,
    height: (40px),
    position: relative,
    top: 0,
    width: auto,
    |c_svg-bg-rect: (
      height: 40px
    ),
    |svg-bg: (
      overflow: hidden,
      height: 40px
    )
  ),
  |_touchbase: (
    position: relative,
    box-shadow: '0 0 8px rgba(0, 0, 0, 0.2)',
    z-index: 2
  )
),

nav: (
  height: 100%,
  |_nav-header: (
    grid-row-start: 2,
    grid-row-end: 3,
    background: transparent
  )
),

nav-hover: (
  z-index: -9999,
  width: 100%,
  height: 300px,
  position: absolute,
  top: 0,
  display: grid,
  grid-template-columns: 1fr 1fr
),

nav-hover-about: (
  background: url('../images/nav-abouthover.jpg'),
  background-size: cover,
  opacity: 0.5,
  filter: alpha(opacity=50),
  grid-column: '1 / 2',
  align-self: start,
  height: 100%,
  extend: (hvr-fade)
),

nav-hover-aboutend: (
  background: #fff,
  grid-column: '1 / 2',
  align-self: start,
  extend: (hvr-fade)
),

testinghoverclass: (
  background: #2b2b2b,
  extend: (hvr-fade)
),

testinghoverclassend: (
  background: white,
  extend: (hvr-fade)
),

a_hddr-grid: (
  transition: all .5s ease,
  display: grid,
  grid-column-gap: (
    base: 2em,
    phone-down: 1em
  ),
  grid-template-columns: (
    base: 1fr 2fr 1fr,
    phone-down: 1fr 1fr 1px 1fr 1fr
  ),
  grid-template-rows: (
    base: 1fr,
    phone-down: 1fr 1fr
  ),
  width: (
    base: 406px,
    phone-down: 100vw
  ),
  height: 100%,
  margin: 0 auto,
  grid-template-areas: (
    base: (-qt, "left logo right"),
    phone-down: (-qt, "logo logo logo logo logo" "left left . right right")
  ),
  padding-top: (
    phone-down: 3.5rem),

  _item-left: (
    grid-area: left,
    justify-self: (
      base: center,
      phone-down: end
    ),
    align-self: (
      base: center,
      phone-down: start
    ),
    margin-top: (
      base: 10px,
      phone-down: 2rem
    )
  ),

  _item-logo: (
    grid-area: logo,
    justify-self: center,
    align-self: (
      base: center,
      phone-down: end
    )
  ),

  _item-right: (
    grid-area: right,
    justify-self: (
      base: center,
      phone-down: start
    ),
    align-self: (
      base: center,
      phone-down: start
    ),
    margin-top: (
      base: 10px,
      phone-down: 2rem
    )
  ),

  _item-division: (
    display: (
      base: none,
      phone-down: block
    ),
    background: $night,
    height: 22%,
    align-self: start,
    margin-top: 2rem
  )

));
