@import "../Admin/root";
/// INFO: Artboards are class tailored to each section of the website

//// --- Homepage Artboards --- ////////////////////////////
$c-Home-Baseboard: (
  b_home-base: (
    display: grid,
    grid-template-rows: (
      base: 600px auto,
      tablet: 575px auto,
      phablet: 750px auto,
      phone-down: 1075px auto
    )
  )
  );

$c-Home-Section-1: (
  b_home-sctn-1: (
    transition: all .25s ease,
    grid-column: '1 / 4',
    height: (
      base: 600px,
      tablet: 575px,
      phablet: 750px,
      phone-down: 1075px
    ),
    |c_svg-bg-rect: (
      transition: all .25s ease,
      width: 100%,
      height: (
        base: 600px,
        tablet: 575px,
        phablet: 750px,
        phone-down: 1075px
      )
    ),
    |child: (
      name: #statsbg,
      max-height: (
        base: 600px,
        phablet: 750px,
        phone-down: 1075px
      ),
      height: (
        phone-down: 1075px)
    ),
    _main: (
      display: grid,
      width: (
        tablet: 100vw),
      grid-template-rows: (
        base: 150px 1fr)
    ),
      _title: (
        width: 100%
      ),
      _deets: (
        display: grid,
        grid-template-rows: (
          base: 1fr,
          phablet: 200px 1fr,
          phone-down: 150px 400px 300px
        ),
        grid-template-columns: (
          base: 1fr 300px 400px 300px 1fr,
          tablet: 1fr 300px 250px 300px 1fr,
          phablet: 1fr 300px 300px 1fr,
          phone-down: 1fr
        ),
        grid-template-areas: (
          base: (-qt, '. skill years project .'),
          phablet: (-qt, '. years years .' '. skill project .'),
          phone-down: (-qt, 'years' 'skill' 'project')
        ),
        align-items: stretch,
        width: 100%,
        padding-bottom: (
          base: 105px,
          phablet: 0,
          phone-down: 0
        ),
        padding-left: (
          base: 105px,
          tablet: 25px,
          phablet: 0,
          phone-down: 0
        ),
        padding-right: (
          base: 105px,
          tablet: 25px,
          phablet: 0,
          phone-down: 0
        ),
      ),
    |row-1: (
      display: grid,
      grid-row: auto
    )
  ),

  #b_home-stat: (
    _1: (
      grid-area: skill,
      flex-direction: column,
      justify-content: (
        phone-down: center
      )
    ),
    _2: (
      grid-column: years,
      flex-direction: column,
      |h2: (
        font-size: 55px
      ),
      |p: (
        font-size: (32px, 4.5)
      )
    ),
    _3: (
      grid-column: project,
      flex-direction: column,
      justify-content: (
        phone-down: center
      ),
      |a: (
        width: 200px)
    ))

  );

$c-Home-Section-2: (
  b_home-sctn-2: (
    grid-column: (
      base: '2 / 3',
      tablet-down: '1 / 4'
    ),
    display: grid,
    margin-bottom: (
      base: 140px,
      tablet-down: 0
    ),
    grid-template-rows: (
      base: 180px 1fr
    ),

    _title: (
      grid-row: '1 / 2',
      z-index: -20,
      margin-bottom: -.35rem,
      |b_home-sctn-2-a-title: (
        margin-bottom: 4rem
      ),
    ),

    _showcase: (
      grid-row: '2 / 3',
      display: grid,
      grid-template-rows: repeat(3, 1fr),
      align-items: stretch
    ))
);
//// --- END Homepage Artboards --- ////////////////////////
$Epic-Map: map-combine(
  $c-Home-Baseboard,
  $c-Home-Section-1,
  $c-Home-Section-2,
true);
@import "../Admin/the-epic";
