//// --- Screen/Media Size Variables --- ////////////////////////////
$media-sizes: (
  'base': null,
  'tinyphone': 400px,
  'phone': 600px,
  'phablet': 900px,
  'tablet': 1200px,
  'desktop': 1800px
) !default;

//// --- Screen/Media Expression Variables --- ////////////////////////////
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 3), (min-resolution: 350dpi), (min-resolution: 3dppx)'
) !default;

//// --- Breakpoint Variables --- ////////////////////////////
$breakpoints: (
  greater-desktop: '>desktop',
  desktop: ('>tablet', '<=desktop'),
  tablet: ('>phablet', '<=tablet'),
  phablet: ('>phone', '<=phablet'),
  phone: ('>tinyphone', '<=phone'),
  tinyphone: ('<=tinyphone')
) !default;

//// ▾▾▾ NETHERMOST FUNDAMENTAL IMPORTS ▾▾▾ ////
@import "plugins/ta+include-media.scss";
@import "plugins/ta+spread.scss";
