$ca-Base-LogoStyles: (
  logo: (
    _header: (
      fill: $night,
      width: 206px,
      height: 101px
    ),

    _footer: (
      fill: #fff,
      width: 206px,
      height: 101px
    )
  ),

  bowtie: (
    width: 100%,
    text-align: center
  ),

  #ROB-MURPHY: (
    hover: (
      fill: $sky
    ),
    _footer: (
      hover: (
        fill: $ocean
      )
    )
  )
);
