$ca-Base-LogoStyles: (
  logo: (
    _header: (
      fill: $night,
      width: 206px,
      height: 101px
    ),

    _footer: (
      fill: #fff,
      width: 206px,
      height: 101px
    )
  ),

  bowtie: (
    width: 100%,
    text-align: center
  ),

  #ROB-MURPHY: (
    hover: (
      fill: $sky
    ),
    _footer: (
      fill: #FFFFFF,
      transition: .25s ease,
      hover: (
        fill: $ocean,
        transition: .25s ease
      )
    )
  )
);

$ca-Type-Logos: (

  #type_bowtie: (
    font-size: 20px,
    font-family: $Primary-Typeface,
    vertical-align: bottom,
    font-weight: 300,
    line-height: 22px
  )

);
