//// --- PARAGRAPH STYLES --- ////////////////////////////

  //// 1 //////////// Declare your styles here
    $FontStyles-List: (
      One: H1-Test,
      Two: H2-Test
    );

  //// 2 //////////// Then define them here
    $FontStyle-Deets: (

      One: (
        cname: Toby,
        font-family: ('Kith-Regular', 'sans-serif'),
        cap-height: 0.66,
        type-size: 35,
        type-line: 50,
        type-color: #FFF,
        //// 🛠 //////////// Beware Ye Who Enters Here.
        override: no,
        brkpoint: (
          tablet: on
          ),
        substyles: (
          switch: off
          )
        ),

      Two: (
        cname: Terry,
        font-family: ("Kith-Regular", "sans-serif"),
        cap-height: 0.66,
        type-size: 40,
        type-line: 50,
        type-color: #FFF,
        //// 🚀 //////////// Animation/Transition between differences.
        animation-type: ease-in,
        animation-dur: .25s,
        animation-delay: 0,
        //// 🛠 //////////// Beware Ye Who Enters Here.
        override: yes,
        brkpoint: (
          tablet: off,
          desktop: ()
          ),
        substyles: (
          switch: off
          )
        )
    //// END //////////// Don't Define styles past this point.
    ) !default;

//@include parastyle-base-cr8($FontStyles-List, $FontStyle-Deets);
//@include brkpoint('<tinyphone') {
//  @include parastyle-cr8(0, 'teensyphone', $FontStyles-List, $FontStyle-Deets);
//}
