@import "../../Admin/Dev/root";

//// --- BUTTONS --- ////////////////////////////
$s-Buttons: (

  //// 1 //////////// Page Buttons
  b__solid: (
    width: 235px,
    height: 86px,
    border-radius: 100px,
    background: $blue,
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.14),
    border: none
  )

);

$Epic-Map: $s-Buttons;
@import "../../Admin/Dev/the-epic";
