@import "../../Admin/Dev/root";

//// --- LOGOS & MARKS --- ////////////////////////////
$s-Logos: (

  //// 1 //////////// Logo Classes
  logo: (
    _header: (
      fill: (
        base: $night,
      /*  greater-desktop: red,
        desktop: blue,
        tablet: green,
        phablet: yellow,
        phone: pink,
        tiny: purple */
      ),
      width: 206px,
      height: 101px
    ),
    _footer: (
      fill: #fff,
      width: 206px,
      height: 101px
    )
  ),

  bowtie: (
    width: 100%,
    text-align: center,
    margin-top: (
      tablet-down: 4rem)
  ),

  //// 2 //////////// Logo IDs
  #ROB-MURPHY: (
    hover: (
      fill: $sky),
    _footer: (
      fill: #FFFFFF,
      transition: .25s ease,
      hover: (
        fill: $ocean,
        transition: .25s ease
      )
    )
  ),

  #type_bowtie: (
    font-size: 20px,
    font-family: $Primary-Typeface,
    vertical-align: middle,
    font-weight: 300,
    padding-bottom: .8rem
  )

);

$Epic-Map: $s-Logos;
@import "../../Admin/Dev/the-epic";
