//// --- VARIABLES --- ////////////////////////////

  //// 1 //////////// Swatches
  $purple: #7825B8;
  $violet: #A825A4;
  $blue: #008FD6;
  $black: #060826;
  $white: #FFF;
  $grey: #F6F6F6;
  $shadow: rgba(0, 0, 0, 0.56);
  $shadow-2: rgba(0, 0, 0, 0.18);

  //// 2 //////////// Color Scheme
  $s-primary: #e1e1e1;
  $s-secondary: #666;
  $s-highlight: #ccc;
  $s-active: $blue;
  $s-shadow: rgba(0, 0, 0, .6);

  //// 3 //////////// Font-Families
  $ff-prime: "myriad pro", 'helvetica', 'arial', sans-serif;

  //// 4 //////////// Transitions
  $tc-img: (filter .2s ease-in-out, transform .2s ease-in-out);
  $tc-transform: transform .2s ease-in-out;
  $tc-all: all .2s ease-in-out;
  $tc-feature: (visibility .2s linear 0s, opacity .2s linear 0s, width 0s linear 2s, height 0s linear 2s);
  $tc-feature-base: (visibility 0s linear 0s, opacity .2s linear 0s, width 0s linear 0s, height 0s linear 0s);
