// inject: dependenciesbase //
// endinject: dependenciesbase //

$f-Footer: (
  f__footer: (
    grid-area: footer,
    width: 100vw,
    height: 100%,
    display: grid,
    overflow: hidden,
    align-items: (base: flex-end, phone-dn: center),
    background: (base: $black, high-desktop: transparent),
    \--maindiv: (
      height: (base: 330px, phone-dn: 90%),
      width: 100%,
      display: grid,
      grid-template-areas: ". text ." ". buttons ." ". versions .",
      grid-template-rows: 1fr 1fr 1fr,
      grid-template-columns: (
        base: 1fr 590px 1fr,
        phone-dn: 1fr 80vw 1fr
      ),
      z-index: 2,
    ),
    \--bg-div: (
      height: 482px,
      width: 100%,
      max-width: 100vw,
      position: absolute,
      z-index: 1,
      display: flex,
      justify-content: center,
      overflow: hidden,
      filter: drop-shadow(0 5px 22px $shadow),
      transform: rotate(180deg),
      background-image: url("../../assets/s__hero--background.svg"),
      background-size: cover,
      clip-path: url(#clip)
    ),

    \--text-div: (
      grid-area: text,
      width: (phone-dn: 70vw, tiny: 80vw),
      margin: (phone-dn: 0 auto),
      margin-top: (phone-dn: 45px),
      margin-bottom: (tiny: 11px),
      \>\>h1: (
        font-family: $ff-prime,
        color: white,
        text-align: center,
        font-weight: 300,
        font-size: (base: 36px, tiny: 32px),
        line-height: (base: 2.75rem, tiny: 2.5rem)
      ),
      \>\>span: (
        font-weight: 500
      )
    ),

    \--bttns-div: (
      grid-area: buttons,
      display: flex,
      justify-content: (base: center, phone-dn: space-evenly),
      height: (base: 68px, phone-dn: 175px),
      flex-direction: (phone-dn: column),
      align-items: center,
      \>\>a: (
        text-decoration: none,
        margin-right: 10px,
        margin-left: 10px,
        \>\>button: (
          background: white,
          padding: 15px,
          padding-bottom: 12px,
          border: none,
          border-radius: 50px,
          font-family: $ff-prime,
          font-weight: 600,
          font-size: 22px,
          min-width: 182px,
          line-height: 2.75rem,
          color: $purple,
          transition: all .2s ease-in-out,
          hover: (
            transition: all .2s ease-in-out,
            background: $blue,
            box-shadow: 0 3px 7px rgba(0, 0, 0, 0.39),
            color: white,
            transform: scale(1.05, 1.05)
          ),
        )
      ),
      \\" .fa": (
        margin-right: 10px
      ),
      \\" .fa.github": (
        auto: (fontawesome, github)
      ),
      \\" .fa.zip": (
        auto: (fontawesome, file-archive)
      ),
      \\" .fa.how-to": (
        auto: (fontawesome, info-circle)
      ),
    ),

    \--vs-div: (
      grid-area: versions,
      display: flex,
      flex-direction: row,
      font-family: $ff-prime,
      color: white,
      justify-content: center,
      align-self: (base: self-start, phone-dn: self-end),
      margin-bottom: (phone-dn: 60px),

      \>\>divider: (
        margin-left: .5rem,
        margin-right: .5rem,
      )
    )
  ),
  trigger: (
    background: none,
    border: none,
    color: white,
    padding: 0,
    font-family: $ff-prime,
    transition: color .02s linear,
    hover: (
      color: $black,
      transition: color .02s linear,
    )
  ),
  modal: (
    position: fixed,
    left: 0,
    top: 0,
    width: 100%,
    height: 100%,
    background-color: rgba(0, 0, 0, 0.6),
    opacity: 0,
    visibility: hidden,
    transform: scale(1.1),
    transition: (visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s),
    z-index: 5,
  ),
  modal-content: (
    position: absolute,
    top: 50%,
    left: 50%,
    transform: translate(-50%, -50%),
    background-color: white,
    padding: 35px,
    width: 200px,
    border-radius: 0.5rem,
    height: 50vh,
    display: flex,
    flex-direction: column,
    font-family: $ff-prime,
    \>\>div: (
      height: 100%,
      text-align: center,
      display: flex,
      flex-direction: column,
      justify-content: center,
      \>\>a: (
        text-decoration: none,
        color: $violet,
        transition: color .02s linear,
        hover: (color: $purple, transition: color .02s linear)
      ),
      \>\>\>p: (
        margin-top: 50px
      )
    )
  ),
  close-button: (
    float: right,
    width: 3rem,
    line-height: 1.5rem,
    text-align: center,
    cursor: pointer,
    border-radius: 50px,
    background-color: $violet,
    color: white,
    transition: background-color .02s linear,
    hover: (
      background-color: $purple,
      transition: background-color .02s linear,
    ),
    align-self: flex-end,
    justify-self: flex-start,
  ),
  show-modal: (
    opacity: 1,
    visibility: visible,
    transform: scale(1.0),
    transition: (visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s),
  )

);

$Epic-Map: $f-Footer;
// inject: dependenciesepic //
// endinject: dependenciesepic //
