$w: (
  l__highlights: (
    grid-area: highlights,
    display: grid, // would like this to auto populate if a grid property like grid-template-areas is used.
    height: 109%,
    width: 100%,
    grid-template-areas: (
      base: ". text text text ." ". first second third .",
      tablet: ". text text ." ". first second ." ". third third .",
      phablet-dn: ". text ." ". first ." ". second ." ". third .",
      phone-dn: "text text text" ". first ." ". second ." ". third ."
    ),
    grid-template-columns: (
      base: .5fr 325px 325px 325px .5fr,
      tablet: .5fr 325px 325px .5fr,
      phablet-dn: .5fr 60vw .5fr,
      phone-dn: .5fr 85vw .5fr
    ),
    grid-template-rows: (
      base: 80px 325px,
      tablet: 80px 325px 325px,
      phablet-dn: 80px .3fr .3fr .3fr,
      phone-dn: 80px .3fr .3fr .3fr,
      tiny: 80px 300px 300px 300px
    ),
    grid-gap: (
      base: 45px,
      phablet-dn: 22.5px
    ),
    align-content: (
      base: center,
      phablet-dn: flex-start
    ),
    padding-top: (phablet-dn: 80px, tiny: 70px),

    \--text-div: (
      grid-area: text,
      width: 100%,
      height: 100%,
      display: flex,
      justify-content: center,
      \>\>h2: (
        font-family: $ff-prime,
        color: $black,
        font-size: (
          base: 48px,
          tiny: 11vw
        ),
        font-weight: 400,
        text-align: center
      )
    ),
    \--block: (
      display: flex,
      justify-content: center,
      align-items: center,
      background: $grey,
      overflow: hidden,
      transition: all 0.2s linear,
      width: (phablet: 290px),
      height: (phablet: 290px),
      justify-self: (phablet: center),
      border-radius: (
        base: 32px,
        tablet: 16px,
        phone-dn: 16px
      ),
      padding: (
        base: 40px,
        tablet-dn: 0,
        phablet-dn: 40px
      ),
      flex-direction: column,
      \>\>p:(
        margin-bottom: 10px,
        width: (tablet-dn: 25vw)
      ),
      \>\>img: (
        display: block,
        margin-bottom: 30px
      ),
      \>\>h3: (
        font-family: $ff-prime,
        font-size: (
          base: 24px,
          phablet-dn: 32px,
          phone-dn: 6.5vw
        ),
        font-weight: 600,
        text-align: center
      ),
      \>\>l_buttons: (
        display: flex,
        flex-direction: row,
        width: 0,
        height: 0,
        \>\>\>a: (
          padding: 15px,
          background: $purple,
          color: white !important,
          border-radius: 5px,
          border: none,
          margin-right: 10px,
          margin-left: 10px,
          transition: all 0.2s linear 0s,
          text-decoration: none,
          \\" .fa.github": (
            auto: (fontawesome, github),
            border: none
          ),
          \\" .fa.paper-plane": (
            auto: (fontawesome, paper-plane)
          ),
          hover: (
            background: $black,
            box-shadow: 0 5px 8px $shadow-2,
            transform: scale(1.02),
            transition: all 0.2s linear 0s,
          )
        ),
      ),
      \\" p, .l_buttons a": (
        visibility: hidden,
        width: 0,
        height: 0,
        text-align: center,
        opacity: 0,
        transition: (visibility 0s linear 0s, opacity 0.2s linear 0s),
      ),
      \\" p > span": (
        margin: 0 auto,
        font-weight: 600,
        text-align: left,
        display: block,
        margin-top: 10px,
        \>\>span: (
          text-indent: 20px,
          display: block
        )
      ),
      hover: (
        \>\>l_buttons: (
          width: auto,
          height: auto
        ),
        padding: (
          base: 38px,
          tablet-dn: 0,
          phablet-dn: 38px
        ),
        transition: all 0.2s linear 0s,
        box-shadow: 0 5px 8px $shadow-2,
        transform: scale(1.02),
        \>\>h3: (
          margin-bottom: 30px
        ),
        \\" p, .l_buttons a": (
          width: auto,
          height: auto,
          font-family: $ff-prime,
          color: $black,
          display: flex,
          flex-direction: column,
          visibility: visible,
          opacity: 1,
          transition: (visibility 0s linear 0s, opacity 0s linear 0s),
        ),
        \>\>p: (
          font-size: (
            base: 18px,
            tiny: 16px
          ),
          width: (
            tablet-dn: 25vw,
            phablet-dn: 45vw,
            phone-dn: 70vw,
            tiny: 75vw
          )
        ),
        \>\>img: (
          display: none,
          width: 0,
          height: 0
        ),
      ),
 // need to enable ids for children.
      \>one: ( // need to make a command for nth children
        grid-area: first,
        color: $violet,
        hover: (
          border: 2px solid $violet
        )
      ),
      \>two: ( // need to make a command for nth children
        grid-area: second,
        color: $purple,
        hover: (
          border: 2px solid $purple
        )
      ),
      \>three: ( // need to make a command for nth children
        grid-area: third,
        color: $blue,
        hover: (
          border: 2px solid $blue
        ),
        width: (tablet: 325px),
        height: (tablet: 325px),
        margin: (tablet: 0 auto)
      )
    )
  ),
); // w
