// inject: dependenciesbase //
// endinject: dependenciesbase //

$x-MapName: (

  classname: (
      background: black,
      width: (
        base: 20px,
        2k: 30px,
        desktop-up: 40px) 
  )

);

$Epic-Map: $x-MapName; // Change to New Map Name.

// inject: dependenciesepic //
// endinject: dependenciesepic //
