// inject: dependenciesbase //
// endinject: dependenciesbase //

$x-MapName: (

  classname: (
    alias: "#htmlfuzzball > .yolo",
    background: (
      base: -var,
      desktop: blue
    ),
    color: blue,
    --test-property: green,
    auto: (hover-css, buzz),
    \>yolo: (
      width: 60% !important,
      height: (
        base: 30%,
        tablet: 40%
      )
    )
  )

);

$Epic-Map: $x-MapName; // Change to New Map Name.

// inject: dependenciesepic //
// endinject: dependenciesepic //
