//// --- FUNCTIONS --- ////////////////////////////

  //// 1 //////////// Deep Get Variable Key from Map
    @function _($map, $keys...) {
      @if $map != null {
        @each $key in $keys {
          @if $key != null {
            $map: map-get($map, $key);
          }
          @else {
            $map: "Sorry, nope";
          }
        }
        @return $map;
      }
      @else {
        @warn "Sorry, nope";
      }
    }

  //// 2 //////////// Override Check in Map
    @function override-check($map, $keys...) {
      @each $key in $keys {
          $map: map-get($map, $key);
      }
      @if $map == 'yes' {
        @return 'true';
      }
      @else if $map == 'no' {
        @return 'false';
      }
      @else {
        @return 'false';
      }
    }

  //// 3 //////////// Check Deep Keys
    @function map-check($map, $keys...) {
      @each $key in $keys {
        @if not map-has-key($map, $key) {
          @return false;
        }
        $map: map-get($map, $key);
      }

      @return true;
    }

  //// 4 //////////// Advanced Map Merge
    @function map-combine($map, $maps.../*, $deep */) {
      $last: nth($maps, -1);
      $deep: $last == true;
      $max: if($deep, length($maps) - 1, length($maps));

      @if $map == null or $maps == null {
        @return $map;
      }

      @else {
        // Loop through all maps in $maps...
        @for $i from 1 through $max {
          // Store current map
          $current: nth($maps, $i);

          // If not in deep mode, simply merge current map with map
          @if not $deep {
            $map: map-merge($map, $current);
          } @else {
            // If in deep mode, loop through all tuples in current map
            @each $key, $value in $current {

              // If value is a nested map and same key from map is a nested map as well
              @if type-of($value) == "map" and type-of(map-get($map, $key)) == "map" {
                // Recursive extend
                $value: map-combine(map-get($map, $key), $value, true);
              }

              // Merge current tuple with map
              $map: map-merge($map, ($key: $value));
            }
          }
        }
        @return $map;
      }
    }

  //// 5 //////////// Turn Map into List
    @function to-list($value, $keep: 'both') {
      $keep: if(index('keys' 'values', $keep), $keep, 'both');

      @if type-of($value) == 'map' {
        $keys: ();
        $values: ();

          @each $key, $val in $value {
            $keys: append($keys, $key);
            $values: append($values, $val);
          }

          @if $keep == 'keys' {
            @return $keys;
          } @else if $keep == 'values' {
            @return $values;
          } @else {
            @return zip($keys, $values);
          }
        }

        @return if(type-of($value) != 'list', ($value,), $value);

      }

  //// 6 //////////// Finds a Map's Depth
    @function map-depth($map) {
      $level: 1;

      @each $key, $value in $map {
        @if type-of($value) == "map" {
          $level: max(map-depth($value) + 1, $level);
        }
      }

      @return $level;
    }

  //// 7 //////////// Replace String Part
    @function str-replace($string, $search, $replace: '') {
      @if map-depth($string) > 1 {
        $testkey: to-list($string, 'both');
      }
      @else{
        $testkey: $string;
      }
      $index: str-index($string, $search);
      @if $index {
        @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
      }
      @return $string;
    }

  //// 8 //////////// Convert to string
    @function map-tostring($list, $glue: '', $is-nested: false) {
      $rslt: null;

      @if length($list) == 0 {
        @return null;
      }

      @else {
        @for $i from 1 through length($list) {
          $e: nth($list, $i);

          @if type-of($e) == list {
            $rslt: unquote("#{$rslt}#{map-tostring($e, $glue, true)}");
          }

          @else {
            $rslt: if($i != length($list) or $is-nested, unquote("#{$rslt}#{$e}#{$glue}"), unquote("#{$rslt}#{$e}"));
          }
        }
        @return $rslt;
      }
    }

    //// 8.5 //////////// Convert to string
      @function map-tostring-qt($list, $glue: '', $is-nested: false) {
        $rslt: null;

        @if length($list) == 0 {
          @return null;
        }

        @else {
          @for $i from 1 through length($list) {
            $e: nth($list, $i);

            @if type-of($e) == list {
              $rslt: "#{$rslt}#{map-tostring($e, $glue, true)}";
            }

            @else {
              $rslt: if($i != length($list) or $is-nested, "#{$rslt}#{$e}#{$glue}", "#{$rslt}#{$e}");
            }
          }
          @return $rslt;
        }
      }

  //// 9 //////////// Preappend a List with new values
    @function prepend($list, $value) {
	    @return join($value, $list);
    }

  //// 11 //////////// Reverse a String
    @function str-reverse($string) {
      $reverse-string: "";
      @for $i from 1 through str-length($string) {
          $c: str-slice($string, $i, $i);
          $reverse-string: "#{$c}#{$reverse-string}";
      }
      @return $reverse-string;
    }

  //// 12 //////////// Find Last Part of List
    @function last($list) {
      @return nth($list, length($list));
    }

  //// 13 //////////// Filters out a list of terms by checking it against a map
    @function list-checkmake($list, $map, $type: keys) {
      $keys: ();
      $values: ();
      $truth: null;

      @for $i from 1 through length($list) {

        @each $key, $value in $map {
          $truth: chk-list($value, to-string(nth($list, $i)));

          @if $truth == true {
            @if $type == keys {
            $keys: append($keys, nth($list, $i));
            }
            @else if $type == values {
            $values: append($values, nth($list, $i));
            }
          }
        }
      }
      @if $type == keys {
        @if length($keys) > 0 {
          @return $keys;
        }
        @else if length($keys) == 0 {
          @return null;
        }
      }
      @else if $type == values {
        @if length($values) > 0 {
          @return $values;
        }
        @else if length($values) == 0 {
          @return null;
        }
      }
    }

  //// 14 //////////// Removes keys from maps
    @function map-removeKeys($map, $keys) {
    	$length: length($keys);
    	@if ($length > 1) {
    		$restMap: $map;
    		@each $key in $keys {
    			$restMap: map-remove($restMap, $key);
    		}
    		@return $restMap;
    	} @else {
    		@return map-remove($map, $keys);
    	}
    }

  //// 15 //////////// Removes keys from maps
    @function remove-duplicates($list, $recursive: false) {
      $rslt: ();

      @each $item in $list {
        @if not index($rslt, $item) {
          @if length($item) > 1 and $recursive {
            $rslt: append($rslt, remove-duplicates($item, $recursive));
          }
          @else {
            $rslt: append($rslt, $item);
          }
        }
      }

      @return $rslt;
    }

  //// 16 //////////// Convert string to list (must be used in @each)
    @function str-to-list($string, $separator: ' ', $startAt: 1) {
        $workStr: str-slice($string,$startAt);
        $list: ();
        $indexOfFirstSpace: str-index($workStr,$separator);
        @if $indexOfFirstSpace == null {
            $list: ($workStr);
        } @else {
            $list: (str-slice($workStr, 1, $indexOfFirstSpace - 1));
            $list: join($list,str-to-list($workStr, $startAt: $indexOfFirstSpace + 1));
        }
        @return $list;
    }

  //// 17 //////////// Replace a specific value in a list
    @function replace-nth($list, $index, $value) {
      $rslt: null;
      $index: if($index == null, 'uh this', $index);
      @if type-of($index) != number {
        @warn "$index: #{quote($index)} is not a number for `replace-nth`.";
      }

      @else if $index == 0 {
        @warn "List index 0 must be a non-zero integer for `replace-nth`.";
      }

      @else if abs($index) > length($list) {
        @warn "List index is #{$index} but list is only #{length($list)} item long for `replace-nth`.";
      }

      @else {
        $rslt: ();
        $index: if($index < 0, length($list) + $index + 1, $index);

        @for $i from 1 through length($list) {
          @if $i == $index {
            $rslt: append($rslt, $value);
          }

          @else {
            $rslt: append($rslt, nth($list, $i));
          }
        }
      }

      @return $rslt;
    }

  //// 18 //////////// Purges false from a list.
    @function purge($list) {
      $rslt: ();

      @each $item in $list {
        @if $item != null
        and $item != false
        and $item != "" {
          $rslt: append($rslt, $item);
        }
      }

      @return $rslt;
    }

  //// 19 //////////// Checks for custom overrides
    @function chk-override($lock, $key: null, $metal: null, $type: "keys") {
      $rslt: ();
      $replacement: null;
      $metal: if($metal != null, $metal, "nope");
      $mold-verify: null;

        @each $groove, $pin in $lock {
          $lefthand: if(str-index(to-string($groove), unquote($key)), true, false);
          @if $lefthand == true {
            $mold: to-string(to-list($pin, $type));
            $mold-verify: if($mold != null, $mold, "nope");
            @if $metal == important {
              $replacement: if(str-index($mold-verify, $metal), true, false);
              $rslt: append($rslt, $replacement);
            }
            @else if $metal == breakpoint {
              @each $breakpoint, $breakpointvalue in $breakpoints {
                $replacement: if(str-index($mold-verify, $breakpoint), true, false);
                $rslt: append($rslt, $replacement);
              }
            }
          }
        $rslt: purge($rslt);
      }
      @if $rslt == () {
        @return $rslt;
      }
      @else if $rslt != () {
        @return to-string($rslt);
      }
    }

  //// 20 //////////// Removes all stated values from a list
    @function remove($list, $value, $recursive: false) {
      $result: ();

      @for $i from 1 through length($list) {
        @if type-of(nth($list, $i)) == list and $recursive {
          $result: append($result, remove(nth($list, $i), $value, $recursive));
        }

        @else if nth($list, $i) != $value {
          $result: append($result, nth($list, $i));
        }
      }

      @return $result;
    }

  //// 21 //////////// Converts list to string
    @function to-string($value) {
      @return inspect($value);
    }

  //// 22 //////////// Check to see if a term exists in a List
    @function chk-list($list, $term) {
      $rslt: null;
      $list-rslt: ();
      $term: to-string($term);
      $term: if($term == "_", unquote($term), if($term == null, nope, $term));

        @for $i from 1 through length($list) {
          @if nth($list, $i) == $term {
            $list-rslt: true;
          }
          @else {
            $list-rslt: false;
          }
          $rslt: append($rslt, $list-rslt);
        }
      @return if(purge($rslt) == (), false, true);
    }

  //// 23 //////////// Convert String to Number
    @function to-number($value) {
    @if type-of($value) == 'number' {
      @return $value;
    } @else if type-of($value) != 'string' {
      $_: log('Value for `to-number` should be a number or a string.');
    }

    $result: 0;
    $digits: 0;
    $minus: str-slice($value, 1, 1) == '-';
    $numbers: ('0': 0, '1': 1, '2': 2, '3': 3, '4': 4, '5': 5, '6': 6, '7': 7, '8': 8, '9': 9);

    @for $i from if($minus, 2, 1) through str-length($value) {
      $character: str-slice($value, $i, $i);

      @if not (index(map-keys($numbers), $character) or $character == '.') {
        @return to-length(if($minus, -$result, $result), str-slice($value, $i))
      }

      @if $character == '.' {
        $digits: 1;
      } @else if $digits == 0 {
        $result: $result * 10 + map-get($numbers, $character);
      } @else {
        $digits: $digits * 10;
        $result: $result + map-get($numbers, $character) / $digits;
      }
    }

    @return if($minus, -$result, $result);;
  }

  //// 24 //////////// Removes Unit from Number
  @function strip-units($number) {
    @return $number / ($number * 0 + 1);
   }
   
//// --- END FUNCTIONS --- ////////////////////////

@import 'plugins/Pattern-Generators/pattern-generators',
        'plugins/Hover-css/hover',
        'plugins/Color-Generators/color-generators',
        'plugins/Simple-Charts/smpl-charts-generator',
        'plugins/Typography-Generator/type-generator';
