// Set fontsize and baseline at once. Mix of fontsize and baseline mixin.
@mixin gen-type($redline, $redline-str, $greenverb-list, $greenverb-str, $greenverb-length, $splitter, $breakpoint, $EpicAct, $namebreak-feature, $important-check) {
  $breakpoints-limit: length($media-sizes);
  $fs-check: false !default;
  $ts-check: false !default;

  $points: map-values($media-sizes);
  $breakpointcheck: $breakpoint;
  $options-length: length($greenline-list);
  $options-check: if($options-length > 1, true, false);
  $breakpoint: if($breakpoint != null, index($media-sizes, $breakpoint), ($breakpoints-limit - 1));

  $fontsize: unit-check(nth($greenline-list, 1));
  $important: unquote(if($important-check == true, " !important", ""));

  $lineheight: $base-lineheight !default;
  $lineheight-new: null;

  @if $options-check == true {
    $lineheight-new: to-number(nth($greenline-list, 2));
    @if type-of($lineheight-new) == 'number' and not unitless($lineheight-new) {
      $lineheight-new: $lineheight-new / ($lineheight-new * 0 + 1);
     @warn "FYI, Wyndsors Type Generator only uses the lineheight number as a multiplier and ignores all units.";
    }
    @else {
     $lineheight-new: to-number($lineheight-new);
    }
  }
  $cap-height: $fontsize * .75 !default;
  $below: 2 !default;

    @if $redline-str == "font-size" {
      @if $options-check == false {
        $lineheight: $lineheight;
      }
      @else if $options-check == true {
        $lineheight: $lineheight-new;
      }
      $ts-check: false;
    }
    @else if $redline-str == "type-style" {
      @if $options-check == false {
        @warn "Sorry, your type-style is missing its line-height.";
      }
      @else if $options-check == true {
        $lineheight: $lineheight-new;
        //$cap-height: if($options-length > 2, nth($greenline-list, 3), $cap-height);
        //$below: if($options-length > 3, nth($greenline-list, 4), $below);
      }
      $ts-check: true;
    }
    @else {
      @warn "So, this is awkward. #{$redline-str} is ending up in the Tool: Mixins: Plugin: Auto Typography Generator.";
    }

  font-size: #{$fontsize}rem + $important;
  line-height: #{$lineheight}rem + $important;

  @if $ts-check == true {
    $baseline-shift: #{($fontsize / 2 * (($lineheight / $fontsize) - $cap-height))};
    $baseline-push: #{$below - (($fontsize / 2 * (($lineheight / $fontsize) - $cap-height)))};
    margin-bottom: #{$baseline-push}rem + $important;
    padding-top: #{$baseline-shift}rem + $important;
  }
}
