@mixin naming($property, $filter) {

  @if $filter == child-name {
    $alias-prime: null;

    // Preps the css name for conversion to child
    $alias-prehand: str-replace(str-replace(to-string($property), ' ', ''), $sass-child, '');
    $alias-prime-c: if(str-index(to-string($alias-prehand), "_") == 1, true, false);

    // If the direct child command is used
    @if $alias-prime-c == true {
      $alias-prime-dpre: str-slice($alias-prehand, 2, str-length($alias-prehand));
      // Checks for HTML Elements
      $alias-prime-d: if(chk-list($html-elements, $alias-prime-dpre), true, false);
      @if $alias-prime-d == true {@error "Sorry, html elements cannot be direct children.";}
      @else {$alias-prime: "." + $alias-prime-dpre;}
    }
    // If the direct child command isn't used
    @else if $alias-prime-c == false {
      $alias-prime-d: if(chk-list($html-elements, $alias-prehand), true, false);
      // Checks for HTML Elements
      @if $alias-prime-d == true {$alias-prime: " " + $alias-prehand;}
      @else {$alias-prime: " ." + $alias-prehand;}
    }

    &#{$alias-prime} {@content;}
  }

  @else if $filter == pseudo-name {
    &#{unquote(_($pseudos, $property))} {@content;}
  }

  @else if $filter == namespace-name {
    &#{if($property != null, unquote("\\:"), '') + if(str-index($property, $sass-namespace), str-replace($property, $sass-namespace, ''), '')} {@content;}
  }

  @else if $filter == rename {
    $quote-removal: if(str-index($property, "\""), str-replace($property, "\"", ""), $property);
    $name-pre: str-replace($quote-removal, $sass-rename, "");
    $name: str-slice($name-pre, 2, str-length($name-pre));

    &#{unquote($name)} {@content;}
  }

  @else if $filter == subclass-name {
    &#{if($property != null, unquote("-"), '') + if(str-index($property, '_'), str-replace($property, _, ''), '')} {@content;}
  }
}

@mixin brker($property, $var-name, $filter, $state: normal) {
  $property: to-string($property);
  $brker-pseudos: if(map-check($pseudos, $property), true, false);
  $brker-namespace: if(str-index($property, $sass-namespace), true, false);
  $brker-rename: if(str-index($property, $sass-rename), true, false);
  $brker-child: if(str-index($property, $sass-child), true, false);
  $brker-subclass: if(str-index(str-slice($property, 0, 1), $sass-subclass), true, false);
  $brker-regular: if(chk-list($watchlist, $property), true, false);
  @if if(str-index($property, '\\*'), true, false) {
    @error "Heads up! You're using an '*' as a subclass under #{$var-name}, which isn't going to work.";
  }
  @if $brker-regular != true and $brker-pseudos == false and
      $brker-namespace == false and $brker-child == false and
      $brker-subclass == false and $brker-rename == false and $filter == regular {@content;}
  @else if $brker-pseudos == true and $filter == pseudo {
    @if $state == normal {@include naming($property, pseudo-name) {@content;}}
    @else if $state == inner {@content;}}
  @else if $brker-namespace == true and $filter == namespace {
    @if $state == normal {@include naming($property, namespace-name) {@content;}}
    @else if $state == inner {@content;}}
  @else if $brker-rename == true and $filter == rename {
    @if $state == normal {@include naming($property, rename) {@content;}}
    @else if $state == inner {@content;}}
  @else if $brker-child == true and $filter == child {
    @if $state == normal {@include naming($property, child-name) {@content;}}
    @else if $state == inner {@content;}}
  @else if $brker-subclass == true and $filter == subclass {
    @if $state == normal {@include naming($property, subclass-name) {@content;}}
    @else if $state == inner {@content;}}
}

@mixin filterpoint($filter, $EpicAct, $redpill, $bluepill, $purplepill, $override-brkname, $allbreakpoint-override, $breakpoint) {
  @if $EpicAct == normal and $filter == regular {
    $important-removal: normal;
    @if $redpill == false and $bluepill == false and $purplepill == true {
      @content;
    }
  }
  @else if $EpicAct == breakpoint and $filter == full {
    @if $redpill == false and $bluepill == true and $purplepill == false {
      @if $allbreakpoint-override == true {
        @content;
      }
      @else if $override-brkname == $breakpoint {
        @content;
      }
    }
  }
  @else if $EpicAct == important and $filter == full {
    $important-removal: normal;
    @if $redpill == true and $bluepill == false and $purplepill == false {
      @content;
    }
  }
}

@mixin splitter($string, $list, $filter) {
  $verb-prep: to-string(nth($list, 1));
  $verb: if(str-index($verb-prep, ","), str-replace($verb-prep, ","), $verb-prep);

  $splitter:
    /* Value Commands */
    if($verb == $sass-autoval, auto-val,
    if($verb == $sass-custoval, custo-val,
    if($verb == $sass-autovendor, auto-ven-val,

    /* Property Commands */
    if(chk-list($AVP, quote($string)), auto-ven-prop,
    if(chk-list($ATG, quote($string)), auto-type,

    /* Complete Autocode Commands */
    if(str-index($string, $sass-autoprop), auto-prop,
    if(str-index($string, $sass-custoprop), custo-prop,
    regular)))))));

  @if $splitter == $filter {

    @content;
  }
}

@mixin namebrker($EpicAct, $namebreak-feature, $breakpoint, $type: $Global-NameBreak-Separator) {
  @if $Enable-NameBrkname == yes and $EpicAct == breakpoint and $namebreak-feature == true {
    @if $type == direct-child {
      &#{"." + $breakpoint} {@content;}}
    @else if $type == child {
      &#{" ." + $breakpoint} {@content;}}
    @else if $type == namespace {
      &#{"\\:" + $breakpoint} {@content;}}
    @else if $type == default {
      &#{"--" + $breakpoint} {@content;}}
    @else if $type == default-under {
      &#{"__" + $breakpoint} {@content;}}
  }
  @else {@content;}
}
