//// --- Switches --- ////////////////////////////

  $Enable-Overrides: yes; // Enables Total Importance or Breakpoints.
  $Scope-BreakpointOverride: norm; // Switch between overriding everything including existing breakpoints (all) or everything but those (norm).
  $Enable-Features: yes; // Enables Custom-property variables and future features.
  $Enable-ImportantEpic: yes; // Enables important CSS in The Epic.
  $Disable-ImportantRule: no; // Disables important CSS rule.
  $Enable-NameBrkname: yes; // Enables breakpoints to be added to CSS names, helpful if you want to target specific breakpoint styles on your css.
  $Alias-BreakpointOnly: no; // Adds breakpoint name to Aliases, helpful if you want to add breakpoint names to aliases. If on, Aliases won't be added to base css.

//// --- Global Parameters --- ////////////////////////////
  $Global-Default-Unit: px;
  $Global-NameBreak-Separator: default; // Options: direct-child (.), child ( .), namespace (:), default (-), default-under (_)

//// --- DANGER ZONE - CHANGE THESE AT YOUR OWN RISK --- ////////////////////////////

  // Keys
  $sass-child: "\>"; // Key for Child
  $sass-subclass: "\-"; // Key for Sub-Classes
  $sass-underclass: "\_"; // Key for Under-Classes
  $sass-rename: "\\"; // Key for Name Extensions
  $sass-namespace: "\:"; // Key for Namespace classes
  $sass-preceder: "\~"; // Key for Preceding selector
  $sass-comma: "\,"; // Key for comma separated selector
  $sass-immediate: "\+"; // Key for immediate selector

  $sass-alterego: "alias"; // Key for Aliases
  $sass-overrides: "override"; // Key for Overrides
  $sass-enables: "enable"; // Key for Specific Feature Enables

  // Tools
  $sass-autoprop: "auto"; // Creates property and property values via built-in automations
  $sass-custoprop: "custo"; // Creates property and property values via your custom automations
  $sass-autoval: "-auto"; // Creates property values via built-in automations
  $sass-custoval: "-custo"; // Creates property values via custom automations
  $sass-autovar: "-var"; // Creates custom property variable for CSS Property

  // Typography
  $Enable-ATG: no; // Enable Auto Typography Generator
  $sass-autotype: "type-style";
  $base-fontsize: 100%; // 10px = 1 rem
  $base-lineheight: 1.6; //

  // Wyndsor Feature & Override keys
  $WFE-customprops: custom-props;
  $WFE-important: important;
  $WFE-namebreak: breakname;
  $WFE-overrideall: applesauce;
  $WFE-allbreakpoints: all-breakpoints;
