/// INFO: Artboards are class tailored to each section of the website

//// --- Folio Pieces Artboards --- ////////////////////////////
$cb-FolioPieces-Baseboard: (
  b_fp-base: (
    display: grid,
    grid-template-rows: 1fr 140px,
    |content-wrapper: (
      grid-column: "1 / 13",
      grid-row: "1 / 2"
    )
  )

);

$cb-FolioPieces-Section-1: (
  b_fp-sctn-1: (
    grid-column: "1 / 13",
    grid-area: body1,
    display: grid,
    |_sngl: (
      grid-template-rows: 150px 480px 40px 1fr 40px auto,
      grid-template-areas: (qt, '. header .', 'coverimg coverimg coverimg', '. . .', '. display .', '. . .', '. info1 .')
    ),
    |_dble: (
      grid-template-rows: 150px 480px 40px 1fr 40px,
      grid-template-areas: (qt, '. header .', 'coverimg coverimg coverimg', '. . .', '. display .', '. . .')
    )
  ),

  b_fp-hddr-div: (
    grid-area: header,
    height: 150px,
    background: $testinggrey
  ),

  b_fp-cvrimg-div: (
    grid-area: coverimg,
    height: 480px
  ),

  b_fp-grid: (
    grid-area: display
  ),

  b_fp-info1: (
    grid-area: info1,
    padding: 2em,
    height: max-content
  )
);

$cb-FolioPieces-Section-2: (
  b_fp-sctn-2: (
    grid-column: "1 / 13",
    grid-area: body2,
    display: grid,
    grid-template-rows: 150px 40px 410px 40px auto,
    grid-template-areas: (qt, "break break break", ". . .", ". display .", ". . .", ". info2 ."),
    |child: (
      name: (#break),
      grid-row: "3 / 4"
    )
  ),

  b_fp-break-div: (
    grid-area: break,
    padding: 2em
  ),

  b_fp-info2: (
    grid-area: info2,
    padding: 2em,
    height: max-content,
    column-count: 2,
    column-gap: 20px
  )
);

$cb-FolioPieces-Amenities: (
  b_fp-frme-left: (
    grid-column: "1 / 2",
    grid-row: "4 / 5",
    justify-self: start
  ),

  b_fp-frme-right: (
    grid-column: "3 / 4",
    grid-row: "4 / 5",
    justify-self: end
  ),

  b_fp-nav: (
    height: 140px,
    width: 100%,
    grid-row: "2 / 3",
    grid-column: "2 / 12",
    |child-0: (
      name: (".button a"),
      padding: 15px,
      padding-right: 25px,
      padding-left: 25px,
      color: $night,
      height: 100%,
      width: auto,
      margin: 10px,
      transition: .5s ease,
      hover: (
        background: $sky,
        color: white,
        cursor: pointer,
        transition: .25s ease,
      )
    ),
    |child: (
      name: (".button a:after"),
      content: ">"
    )
  ),
  custom-pagination-2: (
    height: auto,
    font-family: "myriad-pro",
    font-size: 1.1rem,
    display: flex,
    flex-direction: row,
    line-height: 1,
    |share: (
      margin-left: 5px,
      margin-right: 5px,
      |i: (
        color: $night,
        transition: .25s ease,
        hover: (
          color: $sky,
          transition: .25s ease
        )
      )
    )
  )
);
//// --- END Folio Pieces Artboards --- ////////////////////////
