
    $s3-Base-ParagraphAlignments: (
      txt-cntr: (
        text-align: center
      ),
      txt-left: (
        text-align: left
      ),
      txt-rght: (
        text-align: right
      )
    );
