    $Primary-Typeface: "'myriad-pro', 'helvetica', 'arial', sans-serif";
    $Secondary-Typeface: "'kith-regular', 'helvetica', 'arial', sans-serif";
    $Secondary-Typeface-2: "'kith-light', 'helvetica', 'arial', sans-serif";

    $s3-Base-Typography: (
      a: (
        text-decoration: none,
        hover: (
          color: $sky)
      ),
      h1: (
        font-family: $Secondary-Typeface-2,
        font-size: 32px,
        text-transform: uppercase,
        font-weight: normal
      )
    );

    $s3-Custom-Typography: (
      nav-links: (
        font-family: ($Primary-Typeface),
        color: $night,
        text-decoration: none,
        font-weight: 600,
        font-size: 1.1rem
      ),
      #inline-bowtie: (
        font-size: 20px,
        font-family: $Primary-Typeface,
        vertical-align: bottom,
        font-weight: 300,
        line-height: 22px
      ),
      +footer-typography: (
        line-height: 2em,
        color: white,
        font-family: $Primary-Typeface,
        font-weight: 300,
        font-size: 14px,
        descent: (
          name: (a),
          color: white,
          hover: (
            color: $ocean
          )
        )
      )
    );
