@import "../../root";

//// --- TYPOGRAPHY STYLES --- ////////////////////////////
$s-Typography: (

  //// 1 //////////// HTML Typography
  a: (
    text-decoration: none,
    transition: .5s ease,
    color: $night,
    hover: (
      color: $sky,
      transition: .25s ease)
  ),

  h1: (
    alias: e_bttn-homefresh,
    font-family: $Secondary-Typeface-2,
    font-size: 32px,
    text-transform: uppercase,
    font-weight: normal,
    text-align: center,
    |_h1-foliopiece: (
      line-height: (
        tablet-down: 2.25rem),
      word-spacing: (
        base: -.025rem,
        tablet-down: -.25rem
      )
    )
  ),

  h2: (
    font-family: $Primary-Typeface,
    font-size: 32px,
    font-weight: 400,
    |_alt: (
      font-weight: 200,
      text-align: center,
      line-height: 35px
    )
  ),

  p: (
    font-family: $Primary-Typeface,
    font-weight: 300,
    line-height: 1.6rem
  ),

  //// 2 //////////// Typography Amenities
  wf:(
    _wyndsor: (
      opacity: 0),

    _loading: (
      opacity: 0),

    _inactive: (
      opacity: 0),

    _active: (
      opacity: 1,
      transition-delay: 3s,
      transition: 1.5s ease
    )
  ),

  //// 3 //////////// Typography Classes/IDs
  t_links-hddr: (
    font-family: ($Primary-Typeface),
    color: $night,
    font-weight: 600,
    font-size: 1.6em
  ),

  t_body-fttr: (
    line-height: 2em,
    color: white,
    font-family: $Primary-Typeface,
    font-weight: 300,
    font-size: 14px,
    |a: (
      color: white,
      transition: .5s ease,
      hover: (
        color: $ocean,
        transition: .25s ease
      )
    )
  ),

  t_body-shortblurb: (
    font-family: $Primary-Typeface,
    font-weight: 300,
    font-size: 16px
  )

);

$Epic-Map: $s-Typography;
@import "../../the-epic";
