@import "../../root";

//// --- PARAGRAPH STYLES --- ////////////////////////////
$s2-Paragraph: (

  //// 1 //////////// Paragraphy Alignments
  t_align: (
    |_cntr: (
      text-align: center),

    |_left: (
      text-align: left),

    |_rght: (
      text-align: right)
  )

);

$Epic-Map: $s2-Paragraph;
@import "../../the-epic";
