
$s1-Base-ColumnSets: (

  r_col-fr: (

    _12: (
      grid-template-columns: repeat(12, 1fr)),

    _3: (
      grid-template-columns: repeat(3, 1fr)),
  ),

  r_col-fxd: (

    _3: (
      grid-template-columns: (
        base: 1fr 1230px 1fr
      )),

    _4: (
      grid-template-columns: (
        base: 1fr repeat(2, ((1230 / 2)px)) 1fr
      )),

    _5: (
      grid-template-columns: (
        base: 1fr repeat(3, ((1230 / 3)px)) 1fr
      ))
  ),

  r_col-cntr: (
    _3: (
      grid-column: "2 / 3"
    )
  )
);

$s1-Base-RowSets: (
  r_row-fr: (
    _1: (
      grid-template-rows: 1fr),

    _2: (
      grid-template-rows: repeat(2, 1fr)),

    _3: (
      grid-template-rows: repeat(3, 1fr)),

    _4: (
      grid-template-rows: repeat(4, 1fr)),

    _5: (
      grid-template-rows: repeat(5, 1fr))
  )
);
