//// --- AUTO VENDOR PREFIXES --- ////////////////////////////

  $AVP:
    "column-count",
    "column-gap",
    "box-sizing",
    "filter",
    "box-shadow",
    "animation",
    "animation-delay",
    "transition",
    "transition-delay";

//// --- PSEUDOS --- ////////////////////////////

  $pseudos: (
    hover: ':hover',
    active: ':active',
    after: '::after',
    before: ':before',
    selection: '::selection',
    focus: ':focus',
    visited: ':visited',
    checked: ':checked',
    invalid: ':invalid',
    optional: ':optional',
    required: ':required'
  );

//// --- YOUR CUSTOM AUTOMATIONS --- ////////////////////////////
  @mixin crtrfone($redline, $redline-str, $greenline-list, $greenline-str, $greenline-length, $splitter, $breakpoint, $EpicAct, $important-check) {

    //// 1 //////////// Custom Property Automations
    @if $splitter == custo-prop {

    }

    //// 2 //////////// Custom Property Value Automations
    @else if $splitter == custo-val {

    }
  }

////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////
//// --- DANGER ZONE - CHANGE THESE AT YOUR OWN RISK --- ///////////////////////////
////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////

//// --- ACTIVE VENDOR PREFIXES --- ////////////////////////////
  $vprefixes:
    webkit,
    moz,
    ms,
    o;

//// --- HTML ELEMENTS LIST --- ////////////////////////////
  $html-elements:
    \*, a, abbr, acronym,
    address, applet, area,
    article, aside, audio,
    b, base, basefont,
    bdi, bdo, big,
    blockquote, body, br,
    button, canvas, caption,
    center, cite, code,
    col, colgroup, datalist,
    dd, del, details,
    dfn, dialog, dir,
    div, dl, dt,
    em, embed, fieldset,
    figcaption, figure, font,
    footer, form, frame,
    frameset, h1, h2,
    h3, h4, h5,
    h6, h6, head,
    header, hr, html,
    i, iframe, img,
    input, ins, kbd,
    label, legend, li,
    link, main, map,
    mark, menu, menuitem,
    meta, meter, nav,
    noframes, noscript, object,
    ol, optgroup, option,
    output, p, param,
    picture, pre, progress,
    q, rp, rt,
    ruby, s, samp,
    script, section, select,
    small, source, span,
    strike, strong, style,
    sub, summary, sup,
    svg, table, tbody, td,
    textarea, tfoot, th,
    thead, time, title,
    tr, track, tt,
    u, ul, var,
    video, wbr;

//// --- AUTO TYPOGRAPHY GENERATOR --- ////////////////////////////
  $ATG:
    "font-size",
    "type-style";

  $Units:
    // I don`t recommend changing the order, it could gum up the ATG.
    px, rem, em,
    %, ch, pc,
    in, cm, mm,
    pt, ex, vw,
    vh, vmin, vmax;

//// --- WYNDSOR EXTENSIONS WATCHLIST --- ////////////////////////////
  $watchlist: (
    // Wyndsor uses the watchlist to remove keys or references to these extensions.
    #{$sass-alterego}, // This is used to create a class or id alter ego
    #{$sass-overrides}, // This is used to enable flobal application of important or a breakpoint
    #{$sass-namespace}, // This is used to create a namespace class
    #{$sass-child}, // This is used to create child classes or to target a specific family of selectors
    #{$sass-subclass}, // This is used to create a direct sub-class/id
    #{$sass-enables});
