$extensions: (
  "extend": "&-",
  "alias": alterego,
  "-t": states,
  "-k": kin,
  "_": subclass,
  "+": placeholder,
  "override": specials
);

$pseudos: (
  hover: ':hover',
  active: ':active',
  after: '::after',
  before: '::before',
  selection: '::selection',
  focus: ':focus',
  visited: ':visited',
  checked: ':checked',
  invalid: ':invalid',
  optional: ':optional',
  required: ':required',
);

$Include-AliasBreakName: on;

//// --- TOOLBOX MIXIN --- ////////////////////////////
@mixin toolbox ($root-cnctr, $cnctr-list, $cnctr-str, $cnctr-length, $splitter, $breakpoint, $EpicAct) {

  //// 1 //////////// Built-in Automations
  @if $splitter == built-in {
    @include color-up($childpull, $truekey);
  }

  //// 2 //////////// Custom Automations
  @else if $splitter == add-on {
    @include grid-up($childproperty, $truekey);
  }

  //// ! //////////// Lights Out!
  @else {
    @warn "Woah, a breaker must be out.";
  }
}

@mixin tada($extensions, $childproperty, $pseudos, $subclass, $truekey) {

}
