$extensions: (
  "extend": "&-",
  "alias": alterego,
  "-t": states,
  "-k": kin,
  "_": subclass,
  "+": placeholder,
  "override": specials
);

$pseudos: (
  hover: ':hover',
  active: ':active',
  after: '::after',
  before: '::before',
  selection: '::selection',
  focus: ':focus',
  visited: ':visited',
  checked: ':checked',
  invalid: ':invalid',
  optional: ':optional',
  required: ':required',
);

$Include-AliasBreakName: on;

//// --- TOOLBOX MIXIN --- ////////////////////////////
@mixin toolbox($property-key, $property-key-string, $property-list, $property-string, $property-length, $splitter, $custo-name, $breakpoint, $EpicAct) {

  //// 1 //////////// Built-in Tools
  @if $splitter == built-in {
    @include color-tool($property-key, $property-key-string, $property-list, $property-string, $property-length, $splitter, $custo-name, $breakpoint, $EpicAct);
    @include grid-tool($property-key, $property-key-string, $property-list, $property-string, $property-length, $splitter, $custo-name, $breakpoint, $EpicAct);
  }

  //// 2 //////////// Custom Tools
  @else if $splitter == add-on {

  }
  //// ! //////////// Lights Out!
  @else {
    @warn "Wooaaahh, this is a two-way split bro, try using 'auto' or 'custo-#'.";
  }
}
