//// --- COLORS --- ////////////////////////////
  //// 1 //////////// Brand Colors
    $brand-colors: (
      black: #282828,
      red: #ef3e3e,
      orange: #f47d41,
      yellow: #fed435,
      green: #3eb660,
      blue: #1e8ecd,
      purple: #724199,
      violet: #9d3895
    ) !default;
//// --- END COLORS --- ////////////////////////

//.helloworld {
  //@include rgba(background, _($brand-colors, red), .5, _($brand-colors, purple));
//  @include radial-gradient(circle at 10% 20%, _($brand-colors, blue) 10%, _($brand-colors, purple) 30%, white);
//}
