@import "../../Admin/Dev/root";

//// --- PALETTE COLORS --- ////////////////////////////
$s-Color-Sets: (

  //// 1 //////////// Character Color Sets
  p_chara-white: (
    color: purple),

  p_chara-black: (
    override: (tablet),
    color: blue,
    font-family: hell07,
    |_heyo: (
      margin: 0
    ),
    after: (
      |yolo: (
        override: tablet,
        color: $night
      ),
      font-size: 6000000px,
      background: red
    ),
    _yolo: (
      font-size: 1809px,
      hover: (
        font-weight: 100px important
      )
    )
  ),

  #pyolo: (
    override: important,
    font-size: 90px,
    +blech: (
      override: tablet,
      font-size: 8990px
    )
  ),

  p_chara-black-neo: (
    color: $pitch),

  p_chara-ocean: (
    color: $ocean,
    _yolo: (
      font-family: ('Myriad-Pro', 'Brandon-Grotesque' important),
      +hey: (
      font-size: 20px
      )
    )),

  //// 2 //////////// Background Color Sets
  p_bg-night: (
    override: desktop applesauce,
    background: blue,
    _dark: (
      background: (-auto, rgba, $night, .5, darken)),
    _light: (
      background: (-auto, rgba, $night, .5, lighten))
  ),

  p_bg-sky: (
    background: $sky,
    _dark: (
      background: (-auto, rgba, $sky, .5, darken)),
    _light: (
      background: (-auto, rgba, $sky, .5, lighten))
  ),

  p_bg-ocean: (
    background: $ocean,
    _dark: (
      background: (-auto, rgba, $ocean, .5, darken)),
    _light: (
      background: (-auto, rgba, $ocean, .5, lighten))
  ),

  p_bg-testinggrey: (
    background: $testinggrey,
    _dark: (
      background: (-auto, rgba, $testinggrey, .5, darken)),
    _light: (
      background: (-auto, rgba, $testinggrey, .5, lighten))
  )

);

//// --- END COLORS --- ////////////////////////

$Epic-Map: $s-Color-Sets;
@import "../../Admin/Dev/the-epic";
