@import "../../root";
//// --- PALETTE PATTERNS --- ////////////////////////////
$s1-Patterns: (

  //// 1 //////////// Patterns
  p_pttrn-striped: (
    _v: (
      background: (-auto, pattern, 'to bottom', 2, $sky, $ocean, .25em, 1em),
      height: 100%,
      width: .85em,
    )
  ),

  //// 2 //////////// SVG
  f_svg-bg: (
    grid-column: '1 / 13',
    width: 100%,
    height: 100%,
    overflow: visible,
    margin-bottom: -5px
  )

);

$Epic-Map: $s1-Patterns;
@import "../../the-epic";
