@import "../../Admin/Dev/root";
//// --- PALETTE COLORS --- ////////////////////////////

$color-palette: (
  bl: "navy grey" "pink purple",
  blk: black blue pink);

$padding: (
  tiny:  12px 20px 30px 6px,
  huge: 2rem 3rem 4rem 6rem);

$grids: (
  desktop: ". block ." ". area ." ". footer .",
  tablet: ". hmm hmm hmm .",
  mobile: "yolo yolo yolo");

$s-Testing: (

  //// 1 //////////// Character Color Sets
  child-test: (
    override: (phone-down),
    color: (
      base: pink -var-full,
      test: blue -var
    ),
    column-gap: 92px,
    +wow: (
      font-weight: 50rem
    ),
    _yolo: (
      margin: 36px,
      grid-area: ". yolo ." ". heyo ." -var,
      background: (-auto, rgba, $night, .5, darken),
      font-family: ("Courier Sans", "Helvetica", "Kith Regular", !important),
      font-size: 39px !important,
      type-style: 50px 1.85,
      after: (
        margin: (51px,),
        font-family: ("Affair", sans-serif, "Kith Sans", Arial-sans !important),
        |hello: (
          background: (
            base: #333333 !important,
            desktop: #FFF
          ),
          transition: (
            base: (-vp repeating-linear-gradient(45deg, blue, red))
          ),
          padding: (
            base: 70px,
          )
        )
      )
    )
  ),
  \*: (
    padding: 420px,
    |_hmm: (
      margin: 0
    )
  ),
  header: (
    override: important,
    background: green,
    margin-top: 19%,
    margin-bottom: 4%,
    padding: 40px,
    |_coolio: (
      line-height: 20px
    )
  ),
  #b_chara-test: (
    padding: (
      base: 25rem important,
      tablet: 40px important
    ),
    _yolo: (
      auto: (
        wy-repeat-any,
        grid-area,
        $color-palette,
      )
    )
  )

);

//// --- END COLORS --- ////////////////////////

$Epic-Map: $s-Testing;
@import "../../Admin/Dev/the-epic";
