@import "../../Admin/Dev/root";

//// --- TYPOGRAPHY STYLES --- ////////////////////////////
$s-Typography: (

  //// H1 ////////////
  t__h1: (
    font-family: $ff-prime,
    font-weight: 400,
    font-size: (
      base: 42px
    )
  ),
  t__accent: (
    font-family: $ff-prime,
    font-style: italic,
    font-size: (
      base: 20px
    )
  ),
  t__p: (
    +button: (
      font-family: $ff-prime,
      font-weight: 300,
      type-style: (
        base: 36px 1.4
      )
    )
  )

);

$Epic-Map: $s-Typography;
@import "../../Admin/Dev/the-epic";
